Repository leancodepl/patrol, changes with the labels that .github/labeler.yml gives for each.
All labels: p: adb, p: maestro_cli, p: maestro_test

.github/labeler.yml:

"p: adb":
  - packages/adb/**/*
"p: maestro_cli":
  - packages/maestro_cli/**/*
"p: maestro_test":
  - packages/maestro_test/**/*

bump versions
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

bump versions (#167)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

bump versions (#167)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

works
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_test

implement `openApp` on iOS
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/AutomatorServerUITests/Logger.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_cli, p: maestro_test

OH YEAH
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

move iOS specific code to `mini_test.dart`
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/example/integration_test/mini_test.dart
Labels: p: maestro_test

bump Gradle
  AutomatorServer/android/app/build.gradle
  AutomatorServer/android/build.gradle
Labels: none

crash when flutter_driver exit code is not 0
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
Labels: p: maestro_cli

ios_driver: apply `verbose`
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_test/example/integration_test/mini_test.dart
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_cli, p: maestro_test

make `openApp()` work on Android
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
  AutomatorServer/android/app/src/main/AndroidManifest.xml
  packages/maestro_test/example/integration_test/mini_test.dart
Labels: p: maestro_test

refactor `AutomatorServer`
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
Labels: none

work in progress - openApp
  packages/maestro_test/example/integration_test/mini_test.dart
Labels: p: maestro_test

update `mini_test.dart`
  packages/maestro_test/example/integration_test/mini_test.dart
Labels: p: maestro_test

Fix the basic iOS simulator test (#164)
  AutomatorServer/android/app/build.gradle
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
  AutomatorServer/android/app/src/main/AndroidManifest.xml
  AutomatorServer/android/build.gradle
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/AutomatorServerUITests/Logger.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/example/integration_test/mini_test.dart
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_cli, p: maestro_test

Fix the basic iOS simulator test (#164)
  AutomatorServer/android/app/build.gradle
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
  AutomatorServer/android/app/src/main/AndroidManifest.xml
  AutomatorServer/android/build.gradle
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/AutomatorServerUITests/Logger.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/example/integration_test/mini_test.dart
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_cli, p: maestro_test

kill `xcodebuild` when `flutter` exits with 0
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_test/example/integration_test/mini_test.dart
Labels: p: maestro_cli, p: maestro_test

make `MaestroFinder.text` only find visible texts
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
Labels: p: maestro_test

make `MaestroFinder.text` method more pleasant to use
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

make `MaestroFinder.text` only find visible texts (#154)
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

make `MaestroFinder.text` only find visible texts (#154)
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

make `MaestroFinder.text` method more pleasant to use
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

pin flutter-action version
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
Labels: none

pin flutter-action version (#176)
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
Labels: none

pin flutter-action version (#176)
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
Labels: none

rename `waitForVisible` and `waitForExists` to `waitUntilVisible` and `waitUntilExists`
  packages/maestro_test/example/test/loading_screen_test.dart
  packages/maestro_test/example/test/overlay_screen_test.dart
  packages/maestro_test/example/test/scrolling_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/lib/src/native/maestro.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

add `waitForVisible`, `waitForExists`, `exists`, `visible`
  packages/maestro_test/example/test/loading_screen_test.dart
  packages/maestro_test/example/test/overlay_screen_test.dart
  packages/maestro_test/example/test/scrolling_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

use `<...>` for links in doc comments
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_test

update docs
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
Labels: p: maestro_test

Add new `MaestroFinder` methods:`waitForVisible`, `waitForExists`, `exists`, `visible` (#174)
  packages/maestro_test/example/test/loading_screen_test.dart
  packages/maestro_test/example/test/overlay_screen_test.dart
  packages/maestro_test/example/test/scrolling_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/lib/src/native/maestro.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

Add new `MaestroFinder` methods:`waitForVisible`, `waitForExists`, `exists`, `visible` (#174)
  packages/maestro_test/example/test/loading_screen_test.dart
  packages/maestro_test/example/test/overlay_screen_test.dart
  packages/maestro_test/example/test/scrolling_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/lib/src/native/maestro.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

maestro_test v0.4.4
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

maestro_test v0.4.4 (#177)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

maestro_test v0.4.4 (#177)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

create `MaestroTestConfig`
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
Labels: p: maestro_test

fix example app to use `MaestroTestConfig`
  packages/maestro_test/example/integration_test/analysis_options.yaml
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/example/integration_test/config.dart
  packages/maestro_test/example/integration_test/example_test.dart
  packages/maestro_test/example/integration_test/mini_test.dart
  packages/maestro_test/example/integration_test/notification_test.dart
  packages/maestro_test/example/test/loading_screen_test.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

minor changelog stuff
  packages/maestro_test/CHANGELOG.md
Labels: p: maestro_test

create `models` directory
  packages/maestro_test/lib/src/native/maestro.dart
  packages/maestro_test/lib/src/native/models/models.dart
  packages/maestro_test/lib/src/native/models/native_widget.dart
  packages/maestro_test/lib/src/native/models/native_widget.freezed.dart
  packages/maestro_test/lib/src/native/models/native_widget.g.dart
  packages/maestro_test/lib/src/native/models/notification.dart
  packages/maestro_test/lib/src/native/models/notification.freezed.dart
  packages/maestro_test/lib/src/native/models/notification.g.dart
  packages/maestro_test/lib/src/native/models/selector.dart
  packages/maestro_test/lib/src/native/models/selector.freezed.dart
  packages/maestro_test/lib/src/native/models/selector.g.dart
  packages/maestro_test/lib/src/native/native.dart
Labels: p: maestro_test

downgrade `package:freezed`
  packages/maestro_test/.gitignore
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

Create `models` directory (#179)
  packages/maestro_test/.gitignore
  packages/maestro_test/lib/src/native/maestro.dart
  packages/maestro_test/lib/src/native/models/models.dart
  packages/maestro_test/lib/src/native/models/native_widget.dart
  packages/maestro_test/lib/src/native/models/native_widget.freezed.dart
  packages/maestro_test/lib/src/native/models/native_widget.g.dart
  packages/maestro_test/lib/src/native/models/notification.dart
  packages/maestro_test/lib/src/native/models/notification.freezed.dart
  packages/maestro_test/lib/src/native/models/notification.g.dart
  packages/maestro_test/lib/src/native/models/selector.dart
  packages/maestro_test/lib/src/native/models/selector.freezed.dart
  packages/maestro_test/lib/src/native/models/selector.g.dart
  packages/maestro_test/lib/src/native/native.dart
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test
