Repository leancodepl/patrol, changes with the labels that .github/labeler.yml gives for each.
All labels: p: adb, p: maestro_cli, p: maestro_test

.github/labeler.yml:

"p: adb":
  - packages/adb/**/*
"p: maestro_cli":
  - packages/maestro_cli/**/*
"p: maestro_test":
  - packages/maestro_test/**/*

Use pattern matching instead of if-else
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
Labels: none

run `swift-format`
  AutomatorServer/ios/AutomatorServer/AppDelegate.swift
  AutomatorServer/ios/AutomatorServer/SceneDelegate.swift
  AutomatorServer/ios/AutomatorServer/ViewController.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
Labels: none

Update packages/maestro_cli/lib/src/features/drive/drive_command.dart
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
Labels: p: maestro_cli

add device resolution logic, add tests for it
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/test/features/drive/drive_command_test.dart
Labels: p: maestro_cli

add support for 'all' device
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
Labels: p: maestro_cli

handle case when no devices are specified by the developer
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
Labels: p: maestro_cli

figthing with xcodebuild
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_test/example/ios/Podfile
  packages/maestro_test/example/ios/Podfile.lock
Labels: p: maestro_cli, p: maestro_test

maybe fix Podfile.lock error?
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

example app: add mini_test.dart which passes on iOS
  packages/maestro_test/example/integration_test/mini_test.dart
Labels: p: maestro_test

clean up code
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_cli/lib/src/features/drive/platform_driver.dart
  packages/maestro_cli/test/features/drive/drive_command_test.dart
Labels: p: maestro_cli

make IOSDriver.runServer() return an async closure
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

remove parallel test execution
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
Labels: p: maestro_cli

maestro_cli: run tests in CI
  .github/workflows/maestro_cli-prepare.yaml
Labels: none

don't be lazy creating MaestroAutomation
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
Labels: none

fix CI failing
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  packages/maestro_cli/lib/src/features/bootstrap/file_contents.dart
Labels: p: maestro_cli

add swift-format
  .github/workflows/maestro_cli-prepare.yaml
Labels: none

create all pages so preview ain't broken
  docs/custom_finders/complex-examples.mdx
  docs/custom_finders/getting-started.mdx
  docs/native/getting-started.mdx
  docs/native/overview.mdx
Labels: none

purposefully break CI - check if swift-format works
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
Labels: none

add basic Effective Maestro page
  docs.json
  docs/effective-maestro.mdx
Labels: none

progress
  docs/effective-maestro.mdx
Labels: none

progress on Effective Maestro
  docs/effective-maestro.mdx
Labels: none

add more info to index.md
  docs/cli-commands/bootstrap.mdx
  docs/index.mdx
Labels: none

add comparison with other testing frameworks
  docs.json
  docs/comparison.mdx
  docs/index.mdx
Labels: none

start writing custom finders overview
  docs/custom_finders/overview.mdx
  docs/effective-maestro.mdx
Labels: none

apply some Julka's suggestions
  docs/cli-commands/bootstrap.mdx
  docs/custom_finders/overview.mdx
  docs/effective-maestro.mdx
Labels: none

apply some Julka's suggestions
  docs/comparison.mdx
  docs/effective-maestro.mdx
Labels: none

add "before and after Maestro"
  docs.json
  docs/custom-finders/advanced.mdx
  docs/custom-finders/getting-started.mdx
  docs/custom-finders/overview.mdx
  docs/custom_finders/complex-examples.mdx
  docs/custom_finders/getting-started.mdx
  docs/effective-maestro.mdx
  packages/maestro_test/example/test/analysis_options.yaml
Labels: p: maestro_test

make `MaestroTester.dragUntilVisible` wait for widget to appear
  packages/maestro_test/lib/src/custom_selectors/common.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_tester.dart
Labels: p: maestro_test

make `MaestroTester.dragUntilVisible` wait for widget to appear (#141)
  packages/maestro_test/lib/src/custom_selectors/common.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_tester.dart
Labels: p: maestro_test

make `MaestroTester.dragUntilVisible` wait for widget to appear (#141)
  packages/maestro_test/lib/src/custom_selectors/common.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_tester.dart
Labels: p: maestro_test

purposefully break CI - check if swift-format works
  .github/workflows/maestro_cli-prepare.yaml
Labels: none

fix formatting
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
Labels: none

make MaestroFinder.visible` a method, not a getter
  packages/maestro_test/example/test/loading_screen_test.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_tester.dart
Labels: p: maestro_test

add `{Duration timeout}` to `MaestroFinder.visible()`
  packages/maestro_test/example/test/loading_screen_test.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

update changelog and readme
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/README.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

Convert `MaestroFinder.visible` into a method (#146)
  packages/maestro_test/example/test/loading_screen_test.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_tester.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

Convert `MaestroFinder.visible` into a method (#146)
  packages/maestro_test/example/test/loading_screen_test.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_tester.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

update changelog and readme (#147)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/README.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

update changelog and readme (#147)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/README.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

remove references to "custom finder" from `maestro_test`
  packages/maestro_test/README.md
  packages/maestro_test/lib/src/custom_selectors/common.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
Labels: p: maestro_test
