Repository leancodepl/patrol, changes with the labels that .github/labeler.yml gives for each.
All labels: p: adb, p: maestro_cli, p: maestro_test

.github/labeler.yml:

"p: adb":
  - packages/adb/**/*
"p: maestro_cli":
  - packages/maestro_cli/**/*
"p: maestro_test":
  - packages/maestro_test/**/*

fix more docs comments
  packages/maestro_test/lib/src/custom_selectors/common.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
Labels: p: maestro_test

remove `message` from exception
  packages/maestro_test/lib/src/custom_selectors/exceptions.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
Labels: p: maestro_test

v0.4.1
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/README.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

Add `MaestroFinderFoundNothingException.toString()` and improve some docs (#130)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/README.md
  packages/maestro_test/lib/src/custom_selectors/common.dart
  packages/maestro_test/lib/src/custom_selectors/exceptions.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_tester.dart
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

Add `MaestroFinderFoundNothingException.toString()` and improve some docs (#130)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/README.md
  packages/maestro_test/lib/src/custom_selectors/common.dart
  packages/maestro_test/lib/src/custom_selectors/exceptions.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_tester.dart
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

set version to v0.4.0
  AutomatorServer/app/build.gradle
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

set version to v0.4.0 (#133)
  AutomatorServer/app/build.gradle
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

set version to v0.4.0 (#133)
  AutomatorServer/app/build.gradle
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

add test ensuring the correctness of code from the custom project
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

init docs.page
  docs.json
  docs/custom_finders/overview.mdx
  docs/index.mdx
Labels: none

add `bootstrap` docs
  docs.json
  docs/cli-commands/bootstrap.mdx
Labels: none

rename `MAESTRO_ARTIFACT_PATH` to `MAESTRO_CACHE`
  packages/maestro_cli/README.md
  packages/maestro_cli/lib/src/common/paths.dart
Labels: p: maestro_cli

rename `MAESTRO_ARTIFACT_PATH` to `MAESTRO_CACHE` (#137)
  packages/maestro_cli/README.md
  packages/maestro_cli/lib/src/common/paths.dart
Labels: p: maestro_cli

rename `MAESTRO_ARTIFACT_PATH` to `MAESTRO_CACHE` (#137)
  packages/maestro_cli/README.md
  packages/maestro_cli/lib/src/common/paths.dart
Labels: p: maestro_cli

add basic docs for most commands
  docs/cli-commands/clean.mdx
  docs/cli-commands/devices.mdx
  docs/cli-commands/doctor.mdx
  docs/cli-commands/drive.mdx
  docs/cli-commands/update.mdx
Labels: none

Adb: automatically ensure running in all methods
  packages/adb/lib/src/adb.dart
Labels: p: adb

set version to 0.1.3
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
Labels: p: adb

Adb/feature/always ensure running (#138)
  packages/adb/CHANGELOG.md
  packages/adb/lib/src/adb.dart
  packages/adb/pubspec.yaml
Labels: p: adb

Adb/feature/always ensure running (#138)
  packages/adb/CHANGELOG.md
  packages/adb/lib/src/adb.dart
  packages/adb/pubspec.yaml
Labels: p: adb

MaestroFinder: override `MatchFinder.allCandidates`
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
Labels: p: maestro_test

MaestroFinder: override `MatchFinder.allCandidates` (#139)
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
Labels: p: maestro_test

MaestroFinder: override `MatchFinder.allCandidates` (#139)
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
Labels: p: maestro_test

AutomatorServer: rename ServerInstrumentation to MaestroServer
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/AutomatorServer.kt
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
Labels: none

refactor drive command code to support multiple platforms
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/features/bootstrap/pubspec.dart
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/android/adb.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/android/driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/ios/driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

AutomatorServer: rename ServerInstrumentation to MaestroServer
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/ServerLoop.kt
Labels: none

success with running very basic test on iOS (but with lots of hardcoded stuff)
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/ios/driver.dart
  packages/maestro_test/example/ios/Podfile.lock
  packages/maestro_test/example/ios/Runner.xcodeproj/project.pbxproj
  packages/maestro_test/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/maestro_test/example/ios/Runner/Info.plist
Labels: p: maestro_cli, p: maestro_test

refactor `maestro drive` to support more than 1 OS
  packages/maestro_cli/lib/src/features/drive/android/adb.dart
  packages/maestro_cli/lib/src/features/drive/android/driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
Labels: p: maestro_cli

runs on iOS!
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_cli, p: maestro_test

MaestroExample: remove stupid auto-generated comments
  MaestroExample/MaestroExample/AppDelegate.swift
  MaestroExample/MaestroExample/SceneDelegate.swift
  MaestroExample/MaestroExample/ViewController.swift
  packages/maestro_cli/lib/src/features/bootstrap/pubspec.dart
  packages/maestro_test/example/ios/Runner.xcodeproj/project.pbxproj
  packages/maestro_test/example/ios/Runner/AppDelegate.swift
Labels: p: maestro_cli, p: maestro_test

example app: initialize notification plugin on iOS
  packages/maestro_test/example/lib/notifications_screen.dart
Labels: p: maestro_test

remove xcuserdata from git
  AutomatorServer/ios/.gitignore
  AutomatorServer/ios/AutomatorServer/AppDelegate.swift
  AutomatorServer/ios/AutomatorServer/Assets.xcassets/AppIcon.appiconset/Contents.json
  AutomatorServer/ios/AutomatorServer/SceneDelegate.swift
  AutomatorServer/ios/AutomatorServer/ViewController.swift
Labels: none

implemenet Android and iOS drivers
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_cli/lib/src/features/drive/platform_driver.dart
  packages/maestro_cli/lib/src/features/drive/platform_driver.freezed.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

update AutomatorServer/android `make` shellscript
  AutomatorServer/android/make
Labels: none

add some debugging aids
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_test/lib/maestro_drive_helper.dart
Labels: p: maestro_cli, p: maestro_test

refactoring in progress to use platform drivers
  AutomatorServer/android/build.gradle
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
Labels: p: maestro_cli

print logs from running `xcodebuild`
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

fix gh actions
  .github/workflows/maestro_cli-prepare.yaml
Labels: none

update `package:adb`
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.xcworkspace/xcuserdata/bartek.xcuserdatad/UserInterfaceState.xcuserstate
  AutomatorServer/ios/AutomatorServer.xcodeproj/xcuserdata/bartek.xcuserdatad/xcschemes/xcschememanagement.plist
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

fix Xcode project, again. God.
  AutomatorServer/ios/.gitignore
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/AutomatorServer.xcodeproj/xcuserdata/bartek.xcuserdatad/xcschemes/xcschememanagement.plist
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
Labels: none

AutomatorServer/ios: add dummy text in Main.storyboard
  AutomatorServer/ios/AutomatorServer.xcworkspace/xcuserdata/bartek.xcuserdatad/UserInterfaceState.xcuserstate
  AutomatorServer/ios/AutomatorServer/Base.lproj/Main.storyboard
  AutomatorServer/ios/Pods/Pods.xcodeproj/project.pbxproj
  AutomatorServer/ios/Pods/Pods.xcodeproj/xcuserdata/bartek.xcuserdatad/xcschemes/Embassy.xcscheme
  AutomatorServer/ios/Pods/Pods.xcodeproj/xcuserdata/bartek.xcuserdatad/xcschemes/EnvoyAmbassador.xcscheme
  AutomatorServer/ios/Pods/Pods.xcodeproj/xcuserdata/bartek.xcuserdatad/xcschemes/Pods-AutomatorServerUITests.xcscheme
Labels: none
