Repository leancodepl/patrol, changes with the labels that .github/labeler.yml gives for each.
All labels: p: adb, p: maestro_cli, p: maestro_test

Bugfixes and tests for `MaestroFinder` API (#225)
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

Bugfixes and tests for `MaestroFinder` API (#225)
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

start adding tests for `MaestroTester`
  packages/maestro_test/test/maestro_tester_test.dart
Labels: p: maestro_test

more tests for `MaestroTester`
  packages/maestro_test/test/maestro_finder_test.dart
  packages/maestro_test/test/maestro_tester_test.dart
Labels: p: maestro_test

set version to 0.5.1
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

set version to 0.5.1 (#227)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

set version to 0.5.1 (#227)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

scroll only to the first element
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

bump version
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

scroll only to the first element (#228)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/pubspec.yaml
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

scroll only to the first element (#228)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/pubspec.yaml
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

bump Dart SDK to 2.17. bump dependencies
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

fix errors and warnings
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/common/common.dart
  packages/maestro_cli/lib/src/common/stateful_dispose_scope.dart
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

Update `maestro_cli` min SDK Dart 2.17 (#229)
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/common/common.dart
  packages/maestro_cli/lib/src/common/stateful_dispose_scope.dart
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

Update `maestro_cli` min SDK Dart 2.17 (#229)
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/common/common.dart
  packages/maestro_cli/lib/src/common/stateful_dispose_scope.dart
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

`MaestroFinder.text`: do not crash when the first found widget is `RichText`
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
Labels: p: maestro_test

take whole TextSpan into consideration, add tests
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

bump maestro_test to v0.5.3
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

Improve and test `MaestroFinder.text` getter (#230)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/pubspec.yaml
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

Improve and test `MaestroFinder.text` getter (#230)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/pubspec.yaml
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

Add tests for `MaestroTester` (#226)
  packages/maestro_test/test/maestro_finder_test.dart
  packages/maestro_test/test/maestro_tester_test.dart
Labels: p: maestro_test

Add tests for `MaestroTester` (#226)
  packages/maestro_test/test/maestro_finder_test.dart
  packages/maestro_test/test/maestro_tester_test.dart
Labels: p: maestro_test

use `MaestroBinding` instead of `IntegrationTestWidgetsFlutterBinding`
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_test

add `no_op_test.dart` and fix `loading_screen.dart`
  packages/maestro_test/example/integration_test/no_op_test.dart
  packages/maestro_test/example/lib/loading_screen.dart
Labels: p: maestro_test

create `MaestroBinding`
  packages/maestro_test/lib/src/native/maestro_binding.dart
Labels: p: maestro_test

add semantics test to example app
  packages/maestro_test/example/integration_test/no_op_test.dart
  packages/maestro_test/example/integration_test/semantics_test.dart
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/lib/webview_screen.dart
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/native/maestro_binding.dart
Labels: p: maestro_test

jesus what am i even doing
  packages/maestro_test/example/integration_test/noop_maestro_test.dart
  packages/maestro_test/example/integration_test/noop_test.dart
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/test_driver/default_integration_test.dart
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/native/maestro_binding.dart
  packages/maestro_test/lib/src/native/native.dart
Labels: p: maestro_test

re-enable semantics in `maestroTest`
  packages/maestro_test/lib/src/custom_finders/common.dart
Labels: p: maestro_test

add WebView screen and a (currently failing) integration test for it
  packages/maestro_test/example/android/app/build.gradle
  packages/maestro_test/example/integration_test/analysis_options.yaml
  packages/maestro_test/example/integration_test/webview_screen_test.dart
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/lib/webview_screen.dart
  packages/maestro_test/example/pubspec.yaml
Labels: p: maestro_test

create simple `uninstall` script in AutomatorServer/android
  AutomatorServer/android/uninstall
Labels: none

debugging in progress - stopped by competitor appearance
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_test/example/integration_test/noop_maestro_test.dart
  packages/maestro_test/lib/src/native/maestro.dart
  packages/maestro_test/lib/src/native/maestro_binding.dart
Labels: p: maestro_cli, p: maestro_test

add debug prints
  packages/maestro_test/example/integration_test/noop_maestro_test.dart
Labels: p: maestro_test

one tiny super parameter
  packages/maestro_test/example/lib/webview_screen.dart
Labels: p: maestro_test

add crash logs of `set_semantics` command
  packages/maestro_test/example/command_set_semantics_crash.txt
Labels: p: maestro_test

bring back using `flutter drive`
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
Labels: p: maestro_cli

set `UiAutomation.FLAG_DONT_SUPPRESS_ACCESSIBILITY_SERVICES`
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
  packages/maestro_test/example/android/app/build.gradle
  packages/maestro_test/example/integration_test/noop_maestro_test.dart
Labels: p: maestro_test

FIXED
  packages/maestro_test/example/integration_test/accessibility_test.dart
  packages/maestro_test/example/integration_test/semantics_test.dart
  packages/maestro_test/lib/src/native/maestro.dart
  packages/maestro_test/lib/src/native/maestro_binding.dart
Labels: p: maestro_test

clean up accessibility test
  packages/maestro_test/example/integration_test/accessibility_test.dart
Labels: p: maestro_test

remove "no-op" tests
  packages/maestro_test/example/integration_test/accessibility_test.dart
  packages/maestro_test/example/integration_test/noop_maestro_test.dart
  packages/maestro_test/example/integration_test/noop_test.dart
  packages/maestro_test/example/integration_test/webview_screen_test.dart
Labels: p: maestro_test

fix lint being angry
  packages/maestro_test/lib/src/native/maestro_binding.dart
Labels: p: maestro_test

.github/labeler.yml:

"p: adb":
  - packages/adb/**/*
"p: maestro_cli":
  - packages/maestro_cli/**/*
"p: maestro_test":
  - packages/maestro_test/**/*
