Repository leancodepl/patrol, changes with the labels that .github/labeler.yml gives for each.
All labels: p: adb, p: maestro_cli, p: maestro_test

refactor touching many areas of the codebase, so sad
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/device.dart
  packages/maestro_cli/lib/src/features/drive/device.freezed.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/drive_command_config.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_cli/lib/src/features/drive/platform_driver.dart
  packages/maestro_cli/lib/src/features/drive/platform_driver.freezed.dart
  packages/maestro_cli/test/features/drive/drive_command_test.dart
Labels: p: maestro_cli

AutomatorServer: add some more logs
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
Labels: none

maestro_cli: add temporary "simulator" flag to `maestro drive`
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

fixes
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/device.dart
  packages/maestro_cli/lib/src/features/drive/device.freezed.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
Labels: p: maestro_cli

make `iproxy` work
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

disable `swift-format` action
  .github/workflows/maestro_cli-prepare.yaml
Labels: none

Revert "`bin/main2.dart, just FTR :)`"
  packages/maestro_cli/bin/main2.dart
  packages/maestro_cli/test.txt
Labels: p: maestro_cli

`bin/main2.dart, just FTR :)`
  packages/maestro_cli/bin/main2.dart
  packages/maestro_cli/test.txt
Labels: p: maestro_cli

forward $MAESTRO_PORT to Swift
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/AutomatorServerUITests/Errors.swift
  AutomatorServer/ios/AutomatorServerUITests/Logger.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_cli/lib/src/features/drive/platform_driver.dart
Labels: p: maestro_cli

create `run_tests` script
  AutomatorServer/ios/run_tests
Labels: none

AutomatorServer/android: minor changes to match iOS server
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
Labels: none

maestro_cli: refactor ios_driver code
  packages/maestro_cli/lib/src/common/process.dart
  packages/maestro_cli/lib/src/features/bootstrap/bootstrap_command.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

refactor android AutomatorServer a bit
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/Exception.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
Labels: none

AutomatorServer/ios: fix error catching
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
  packages/maestro_test/example/ios/Runner/AppDelegate.swift
Labels: p: maestro_test

maestro_cli: more refactors
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_cli/lib/src/features/drive/platform_driver.dart
Labels: p: maestro_cli

AutomatorServer/ios: fix passing `TEST_RUNNER_MAESTRO_PORT` to Swift code
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

refactor code handling artifacts, create ArtifactsRepository
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/common/artifacts.dart
  packages/maestro_cli/lib/src/common/artifacts_repository.dart
  packages/maestro_cli/lib/src/common/common.dart
  packages/maestro_cli/lib/src/common/paths.dart
  packages/maestro_cli/lib/src/common/process_extensions.dart
  packages/maestro_cli/lib/src/features/doctor/doctor_command.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

maestro_test: remove `package:logging`
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_test/lib/src/native/maestro.dart
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_cli, p: maestro_test

big refactor + download iOS artifacts
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/Logger.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/ServerLoop.kt
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
  AutomatorServer/ios/debugcopy
  packages/maestro_cli/lib/src/common/artifacts_repository.dart
  packages/maestro_cli/lib/src/common/paths.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

maestro_cli: fix iOS artifacts extracting to a wrong place
  .github/workflows/maestro_cli-publish.yaml
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
  AutomatorServer/android/debugcopy
  AutomatorServer/ios/makearchive
  packages/maestro_cli/lib/src/common/artifacts_repository.dart
Labels: p: maestro_cli

fix hardcoded device in `ios_driver.dart`
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

implement `makearchive` script
  AutomatorServer/ios/makearchive
Labels: none

fully implement `maestro_cli-publish` workflow for iOS
  .github/workflows/maestro_cli-publish.yaml
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/Logger.kt
Labels: none

remove commented-out code in ServerLoop.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
Labels: none

throw Exception when flutter_driver exits with code != 0
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
Labels: p: maestro_cli

add docs in `ios/run_tests` script
  AutomatorServer/ios/run_tests
Labels: none

remove empty file
  packages/maestro_cli/lib/src/features/drive/drive_command_config.dart
Labels: p: maestro_cli

don't crash when trying to run on android arch different than arm64
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/device.dart
Labels: p: maestro_cli

maestro_cli: change default artifact path to `$HOME/.cache/maestro`
  AutomatorServer/android/build.gradle
  packages/maestro_cli/lib/src/common/artifacts_repository.dart
Labels: p: maestro_cli

remove duplicated path-handling code
  AutomatorServer/ios/debugcopy
  packages/maestro_cli/lib/src/common/artifacts_repository.dart
  packages/maestro_cli/lib/src/common/paths.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

rework timeout
  packages/maestro_test/example/test/loading_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/custom_finders/custom_finders.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

create custom exceptions
  packages/maestro_test/example/test/loading_screen_test.dart
  packages/maestro_test/example/test/overlay_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/exceptions.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

freeze `MaestroTestConfig`
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.dart
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.freezed.dart
Labels: p: maestro_test

`check_versions`: remove checking APK version, set it to 1
  AutomatorServer/android/app/build.gradle
  check_versions
Labels: none

move `check_versions` script to `packages/maestro_cli`, set version to 0.4.4
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/check_versions
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

chore/release maestro cli v0.4.4 (#192)
  AutomatorServer/android/app/build.gradle
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/check_versions
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

chore/release maestro cli v0.4.4 (#192)
  AutomatorServer/android/app/build.gradle
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/check_versions
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

fix GH actions
  .github/workflows/maestro_cli-publish.yaml
  packages/maestro_cli/check_versions
Labels: p: maestro_cli

fix GH actions
  .github/workflows/maestro_cli-publish.yaml
  packages/maestro_cli/check_versions
Labels: p: maestro_cli

fix GH actions, again
  .github/workflows/maestro_cli-publish.yaml
Labels: none

.github/labeler.yml:

"p: adb":
  - packages/adb/**/*
"p: maestro_cli":
  - packages/maestro_cli/**/*
"p: maestro_test":
  - packages/maestro_test/**/*
