Repository leancodepl/patrol, changes with the labels that .github/labeler.yml gives for each.
All labels: p: adb, p: maestro_cli, p: maestro_test

dummy modification so the CI is triggered
  packages/maestro_cli/bin/main.dart
  packages/maestro_test/lib/maestro_test.dart
Labels: p: maestro_cli, p: maestro_test

Revert "dummy modification so the CI is triggered"
  packages/maestro_cli/bin/main.dart
  packages/maestro_test/lib/maestro_test.dart
Labels: p: maestro_cli, p: maestro_test

fix maestro_cli's tests
  packages/maestro_cli/test/features/drive/drive_command_test.dart
Labels: p: maestro_cli

run `ktlint format`
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
Labels: none

fix android ktlint warnings
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroException.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
Labels: none

use `subosito/flutter-action@main` (#214)
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroException.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
  packages/maestro_cli/test/features/drive/drive_command_test.dart
Labels: p: maestro_cli

use `subosito/flutter-action@main` (#214)
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroException.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
  packages/maestro_cli/test/features/drive/drive_command_test.dart
Labels: p: maestro_cli

AndroidDriver: cancel port forwarding on test end
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

Android: uninstall server and instrumentation at test end
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
Labels: p: maestro_cli

add dispose scope to `AndroidDriver`
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
Labels: p: maestro_cli

add `DisposeScope`s to `MaestroCommandRunner`, `DriveCommand`, and `IOSDriver`
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

add more dispose scopes
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

gracefully kill `adb shell am instrument`
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

be more quiet with logs
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
Labels: p: maestro_cli

fixing duplicated disposing when SIGINT
  packages/maestro_cli/lib/src/command_runner.dart
Labels: p: maestro_cli

remove `dart --version` from CI
  .github/workflows/adb-prepare.yaml
  .github/workflows/maestro_cli-prepare.yaml
Labels: none

fix ktlint
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
Labels: none

fix double disposal
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
Labels: p: maestro_cli

fun with CancelableOperation
  packages/maestro_cli/main.dart
Labels: p: maestro_cli

FluterrDriver: remove `run` method, rename `runWithOutput` to `run`
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

disposing is coming together
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
Labels: p: maestro_cli

add some more fine level logs
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
Labels: p: maestro_cli

remove dummy main.dart, where I played with canceling code execution
  packages/maestro_cli/main.dart
Labels: p: maestro_cli

move `setupLogger()` back to its previous place
  packages/maestro_cli/lib/src/command_runner.dart
Labels: p: maestro_cli

add todo
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

iOS AutomatorServer: also uninstall it on SIGINT
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

add `TopLevelFlags` class and use it
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/common/primitive_wrapper.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/top_level_flags.dart
Labels: p: maestro_cli

delete `PrimitiveWrapper`
  packages/maestro_cli/lib/src/common/primitive_wrapper.dart
Labels: p: maestro_cli

create `StatefulDisposeScope`, DisposeScope.run` and use it in AndroidDriver
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/common/common.dart
  packages/maestro_cli/lib/src/common/dispose_scope_extensions.dart
  packages/maestro_cli/lib/src/common/process_extensions.dart
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

use paths directly from `ArtifactsRepository`, instead of from global vars
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/common/artifacts_repository.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_cli/lib/src/features/drive/platform_driver.dart
Labels: p: maestro_cli

StatefulDisposeScope: don't allow for double disposal
  packages/maestro_cli/lib/src/common/common.dart
  packages/maestro_cli/lib/src/common/stateful_dispose_scope.dart
Labels: p: maestro_cli

just... one... more...
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

add `settings.json` with `Melos Code`-added setting
  .vscode/settings.json
Labels: none

revisit outdated parts
  docs/native/getting-started.mdx
  docs/native/limitations.mdx
  docs/native/overview.mdx
Labels: none

add a new "Tips and tricks" page
  docs.json
  docs/custom-finders/overview.mdx
  docs/tips-and-tricks.mdx
Labels: none

start writing docs for native docs
  docs/cli-commands/bootstrap.mdx
  docs/custom-finders/overview.mdx
  docs/native/getting-started.mdx
Labels: none

Make `maestro_cli` clean up after itself (#209)
  .github/workflows/adb-prepare.yaml
  .github/workflows/maestro_cli-prepare.yaml
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/common/artifacts_repository.dart
  packages/maestro_cli/lib/src/common/common.dart
  packages/maestro_cli/lib/src/common/process_extensions.dart
  packages/maestro_cli/lib/src/common/stateful_dispose_scope.dart
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_cli/lib/src/features/drive/platform_driver.dart
  packages/maestro_cli/lib/src/top_level_flags.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

Make `maestro_cli` clean up after itself (#209)
  .github/workflows/adb-prepare.yaml
  .github/workflows/maestro_cli-prepare.yaml
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/common/artifacts_repository.dart
  packages/maestro_cli/lib/src/common/common.dart
  packages/maestro_cli/lib/src/common/process_extensions.dart
  packages/maestro_cli/lib/src/common/stateful_dispose_scope.dart
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_cli/lib/src/features/drive/platform_driver.dart
  packages/maestro_cli/lib/src/top_level_flags.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

add .vscode/settings.json
  .vscode/settings.json
Labels: none

use stable version of `subosito/flutter-action`
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
Labels: none

.github/labeler.yml:

"p: adb":
  - packages/adb/**/*
"p: maestro_cli":
  - packages/maestro_cli/**/*
"p: maestro_test":
  - packages/maestro_test/**/*
