Repository leancodepl/patrol, changes with the labels that .github/labeler.yml gives for each.
All labels: p: adb, p: maestro_cli, p: maestro_test

.github/labeler.yml:

"p: adb":
  - packages/adb/**/*
"p: maestro_cli":
  - packages/maestro_cli/**/*
"p: maestro_test":
  - packages/maestro_test/**/*

add a test for a bug #105
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

fix logging
  AutomatorServer/gradle/wrapper/gradle-wrapper.properties
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_test/example/integration_test/notification_test.dart
  packages/maestro_test/example/lib/notifications_screen.dart
Labels: p: maestro_cli, p: maestro_test

AutomatorServer: improve logs
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/ServerInstrumentation.kt
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/UIAutomatorInstrumentation.kt
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_test

AutomatorServer: remove "before"s and "after"s log msgs
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/UIAutomatorInstrumentation.kt
Labels: none

maestro_test: remove info about whether the method is GET or POST (doesn't matter)
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_test

AutomatorServer: openFullNotificationShade: try to reduce flakiness
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/UIAutomatorInstrumentation.kt
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_test

Print more info on `maestro drive` (#102)
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/Logger.kt
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/ServerInstrumentation.kt
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/UIAutomatorInstrumentation.kt
  AutomatorServer/gradle/wrapper/gradle-wrapper.properties
  AutomatorServer/make
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_test/example/android/app/src/debug/AndroidManifest.xml
  packages/maestro_test/example/android/app/src/main/AndroidManifest.xml
  packages/maestro_test/example/android/app/src/main/kotlin/com/example/example/MainActivity.kt
  packages/maestro_test/example/android/app/src/profile/AndroidManifest.xml
  packages/maestro_test/example/integration_test/analysis_options.yaml
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/example/integration_test/example_test.dart
  packages/maestro_test/example/integration_test/notification_test.dart
  packages/maestro_test/example/lib/notifications_screen.dart
  packages/maestro_test/lib/src/custom_selectors/common.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_tester.dart
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_cli, p: maestro_test

Print more info on `maestro drive` (#102)
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/Logger.kt
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/ServerInstrumentation.kt
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/UIAutomatorInstrumentation.kt
  AutomatorServer/gradle/wrapper/gradle-wrapper.properties
  AutomatorServer/make
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_test/example/android/app/src/debug/AndroidManifest.xml
  packages/maestro_test/example/android/app/src/main/AndroidManifest.xml
  packages/maestro_test/example/android/app/src/main/kotlin/com/example/example/MainActivity.kt
  packages/maestro_test/example/android/app/src/profile/AndroidManifest.xml
  packages/maestro_test/example/integration_test/analysis_options.yaml
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/example/integration_test/example_test.dart
  packages/maestro_test/example/integration_test/notification_test.dart
  packages/maestro_test/example/lib/notifications_screen.dart
  packages/maestro_test/lib/src/custom_selectors/common.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_tester.dart
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_cli, p: maestro_test

add a test for a bug #105 (#107)
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

add a test for a bug #105 (#107)
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

make $ accept default Finder
  packages/maestro_test/lib/src/custom_selectors/common.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

make `MaestroFinder.(first,last,at)` return `MaestroFinder`, not `Finder`
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

gone too far (`firstWidget<T extends Widget>`, `lastWidget<T extends Widget>`)
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

Revert "gone too far (`firstWidget<T extends Widget>`, `lastWidget<T extends Widget>`)"
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

fix bug and add tests for it
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

add more tests and clean up their structure
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

add more complex test cases
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

make `$` accept default Finder and make `last`, `first`, `at` return `MaestroFinder` instead of `Finder` (#108)
  packages/maestro_test/lib/src/custom_selectors/common.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

make `$` accept default Finder and make `last`, `first`, `at` return `MaestroFinder` instead of `Finder` (#108)
  packages/maestro_test/lib/src/custom_selectors/common.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

maestro_test: set version to 0.3.3
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/README.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

maestro_cli: set version to 0.3.4
  AutomatorServer/app/build.gradle
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

maestro_cli-publish workflow: upload to pub.dev at the end
  .github/workflows/maestro_cli-publish.yaml
Labels: none

`maestro_cli` v0.3.4, `maestro_test` 0.3.3 (#112)
  .github/workflows/maestro_cli-publish.yaml
  AutomatorServer/app/build.gradle
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/README.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_cli, p: maestro_test

`maestro_cli` v0.3.4, `maestro_test` 0.3.3 (#112)
  .github/workflows/maestro_cli-publish.yaml
  AutomatorServer/app/build.gradle
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/README.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_cli, p: maestro_test

fix dependency problem with `package:mason_logger`
  packages/maestro_cli/lib/src/common/logging.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

bump Gradle to 7.5 in example Android project
  packages/maestro_test/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: p: maestro_test

Fix `maestro_cli` v0.3.4 failing to build because of dependency version problem (#113)
  packages/maestro_cli/lib/src/common/logging.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
  packages/maestro_test/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: p: maestro_cli, p: maestro_test

Fix `maestro_cli` v0.3.4 failing to build because of dependency version problem (#113)
  packages/maestro_cli/lib/src/common/logging.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
  packages/maestro_test/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: p: maestro_cli, p: maestro_test

set maestro_cli version to 0.3.5
  .gitignore
  AutomatorServer/app/build.gradle
  README.md
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

fix regex in flutter_driver
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
Labels: p: maestro_cli

set maestro_cli version to 0.3.5 (#114)
  .gitignore
  AutomatorServer/app/build.gradle
  README.md
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

set maestro_cli version to 0.3.5 (#114)
  .gitignore
  AutomatorServer/app/build.gradle
  README.md
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

rename `withDescendant` to `containing`
  packages/maestro_test/README.md
  packages/maestro_test/example/test/selector_test.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

implement more robust `openNotifications()` and new `openQuickSettings()`
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/ServerInstrumentation.kt
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/UIAutomatorInstrumentation.kt
Labels: none

update Dart side to match changes in AutomatorServer
  packages/maestro_test/README.md
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/example/integration_test/example_test.dart
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_test

example app: make notifications feature more real-life-like
  packages/maestro_test/example/integration_test/notification_test.dart
  packages/maestro_test/example/lib/notifications_screen.dart
Labels: p: maestro_test

show better error message when notification finding fails
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/UIAutomatorInstrumentation.kt
Labels: none

reimplement native `getNotifications()` to be more stable
  AutomatorServer/app/src/androidTest/java/pl/leancode/automatorserver/UIAutomatorInstrumentation.kt
Labels: none

rename `withDescendant` to `containing` (#118)
  packages/maestro_test/README.md
  packages/maestro_test/example/test/selector_test.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

rename `withDescendant` to `containing` (#118)
  packages/maestro_test/README.md
  packages/maestro_test/example/test/selector_test.dart
  packages/maestro_test/lib/src/custom_selectors/maestro_finder.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test
