Repository leancodepl/patrol, changes with the labels that .github/labeler.yml gives for each.
All labels: p: adb, p: maestro_cli, p: maestro_test

Implement native `tap()`, `enterText()`, and `handlePermission()` on iOS (#246)
  .github/workflows/adb-publish.yaml
  .github/workflows/maestro_cli-publish.yaml
  .github/workflows/maestro_test-publish.yaml
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  docs/tips-and-tricks.mdx
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/constants.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/drive_config.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/example/android/app/build.gradle
  packages/maestro_test/example/android/app/src/debug/AndroidManifest.xml
  packages/maestro_test/example/android/app/src/main/AndroidManifest.xml
  packages/maestro_test/example/android/app/src/profile/AndroidManifest.xml
  packages/maestro_test/example/android/build.gradle
  packages/maestro_test/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/maestro_test/example/integration_test/location_test.dart
  packages/maestro_test/example/integration_test/permissions_test.dart
  packages/maestro_test/example/integration_test/webview_test.dart
  packages/maestro_test/example/ios/Podfile
  packages/maestro_test/example/ios/Podfile.lock
  packages/maestro_test/example/ios/Runner/Info.plist
  packages/maestro_test/example/lib/location_screen.dart
  packages/maestro_test/example/lib/permissions_screen.dart
  packages/maestro_test/example/maestro.toml
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_cli, p: maestro_test

Implement native `tap()`, `enterText()`, and `handlePermission()` on iOS (#246)
  .github/workflows/adb-publish.yaml
  .github/workflows/maestro_cli-publish.yaml
  .github/workflows/maestro_test-publish.yaml
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  docs/tips-and-tricks.mdx
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/constants.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/drive_config.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/example/android/app/build.gradle
  packages/maestro_test/example/android/app/src/debug/AndroidManifest.xml
  packages/maestro_test/example/android/app/src/main/AndroidManifest.xml
  packages/maestro_test/example/android/app/src/profile/AndroidManifest.xml
  packages/maestro_test/example/android/build.gradle
  packages/maestro_test/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/maestro_test/example/integration_test/location_test.dart
  packages/maestro_test/example/integration_test/permissions_test.dart
  packages/maestro_test/example/integration_test/webview_test.dart
  packages/maestro_test/example/ios/Podfile
  packages/maestro_test/example/ios/Podfile.lock
  packages/maestro_test/example/ios/Runner/Info.plist
  packages/maestro_test/example/lib/location_screen.dart
  packages/maestro_test/example/lib/permissions_screen.dart
  packages/maestro_test/example/maestro.toml
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_cli, p: maestro_test

bump maestro_cli to 0.5.2
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

bump maestro_test to v0.5.5
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

Chore/release new versions (#250)
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_cli, p: maestro_test

Chore/release new versions (#250)
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_cli, p: maestro_test

first version of integration tests workflow file
  .github/workflows/run-integration-tests.yaml
Labels: none

run it
  .github/workflows/run-integration-tests.yaml
Labels: none

cd to example app dir
  .github/workflows/run-integration-tests.yaml
Labels: none

use the same config for both emulator runs
  .github/workflows/run-integration-tests.yaml
Labels: none

specify `target: google_apis` and `arch: x86_64`
  .github/workflows/run-integration-tests.yaml
Labels: none

dont try to run maestro, just $PWD
  .github/workflows/run-integration-tests.yaml
Labels: none

use `working-directory`
  .github/workflows/run-integration-tests.yaml
Labels: none

add `flutter precache` step
  .github/workflows/run-integration-tests.yaml
Labels: none

run every day at midnight
  .github/workflows/run-integration-tests.yaml
Labels: none

add `--wait` argument to `maestro`
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
Labels: p: maestro_cli

use `MAESTRO_WAIT` instead of `sleep` in `maestroTest()`
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.dart
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.freezed.dart
Labels: p: maestro_cli, p: maestro_test

create dart defines early on
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

update changelogs
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_test/CHANGELOG.md
Labels: p: maestro_cli, p: maestro_test

Add `--wait` argument to the CLI (#251)
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.dart
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.freezed.dart
Labels: p: maestro_cli, p: maestro_test

Add `--wait` argument to the CLI (#251)
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.dart
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.freezed.dart
Labels: p: maestro_cli, p: maestro_test

changing `DriveCommand` to run all integration tests by default
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/test/features/drive/drive_command_test.dart
  packages/maestro_test/example/maestro.toml
Labels: p: maestro_cli, p: maestro_test

create a very simple `TestRunner` and write tests for it (TDD!)
  packages/maestro_cli/lib/src/features/drive/test_runner.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
  packages/maestro_cli/test/analysis_options.yaml
  packages/maestro_cli/test/features/drive/common.dart
  packages/maestro_cli/test/features/drive/drive_command_test.dart
  packages/maestro_cli/test/features/drive/fixures/devices.dart
  packages/maestro_cli/test/features/drive/test_runner_test.dart
Labels: p: maestro_cli

test more invariants
  packages/maestro_cli/lib/src/features/drive/test_runner.dart
  packages/maestro_cli/test/features/drive/test_runner_test.dart
Labels: p: maestro_cli

remove dead code
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
Labels: p: maestro_cli

delete tests that are not working
  packages/maestro_test/example/integration_test/no_op_test.dart
  packages/maestro_test/example/integration_test/webview_test.dart
Labels: p: maestro_test

throw `StateError`s instead of `assert`s
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/test_runner.dart
  packages/maestro_cli/test/features/drive/common.dart
  packages/maestro_cli/test/features/drive/test_runner_test.dart
Labels: p: maestro_cli

update changelog
  packages/maestro_cli/CHANGELOG.md
Labels: p: maestro_cli

add `repository` and `issue_tracker` to pubspec, remove `homepage`
  packages/adb/pubspec.yaml
  packages/maestro_cli/pubspec.yaml
  packages/maestro_test/pubspec.yaml
Labels: p: adb, p: maestro_cli, p: maestro_test

`adb`: use super parameters
  packages/adb/lib/src/exceptions.dart
  packages/adb/pubspec.yaml
Labels: p: adb

add badges to `adb`s README
  packages/adb/README.md
Labels: p: adb

bump adb version
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
Labels: p: adb

fix ci
  .github/workflows/adb-prepare.yaml
  packages/adb/pubspec.yaml
Labels: p: adb

Populate pubspec links (#254)
  .github/workflows/adb-prepare.yaml
  packages/adb/CHANGELOG.md
  packages/adb/README.md
  packages/adb/lib/src/exceptions.dart
  packages/adb/pubspec.yaml
  packages/maestro_cli/pubspec.yaml
  packages/maestro_test/pubspec.yaml
Labels: p: adb, p: maestro_cli, p: maestro_test

Populate pubspec links (#254)
  .github/workflows/adb-prepare.yaml
  packages/adb/CHANGELOG.md
  packages/adb/README.md
  packages/adb/lib/src/exceptions.dart
  packages/adb/pubspec.yaml
  packages/maestro_cli/pubspec.yaml
  packages/maestro_test/pubspec.yaml
Labels: p: adb, p: maestro_cli, p: maestro_test

bump adb version
  packages/adb/pubspec.yaml
Labels: p: adb

bump adb version (#255)
  packages/adb/pubspec.yaml
Labels: p: adb

bump adb version (#255)
  packages/adb/pubspec.yaml
Labels: p: adb

add test which silences an exception with `takeException`
  packages/maestro_test/test/common_test.dart
Labels: p: maestro_test

print when exception is noticed by the binding
  packages/maestro_test/lib/src/native/binding.dart
Labels: p: maestro_test

.github/labeler.yml:

"p: adb":
  - packages/adb/**/*
"p: maestro_cli":
  - packages/maestro_cli/**/*
"p: maestro_test":
  - packages/maestro_test/**/*
