Repository leancodepl/patrol, changes with the labels that .github/labeler.yml gives for each.
All labels: p: adb, p: maestro_cli, p: maestro_test

.github/labeler.yml:

"p: adb":
  - packages/adb/**/*
"p: maestro_cli":
  - packages/maestro_cli/**/*
"p: maestro_test":
  - packages/maestro_test/**/*

Use stable version of `subosito/flutter-action` (#219)
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
  .vscode/settings.json
Labels: none

Use stable version of `subosito/flutter-action` (#219)
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
  .vscode/settings.json
Labels: none

split code and tests to be more logically divided
  packages/maestro_cli/lib/src/common/common.dart
  packages/maestro_test/.gitignore
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/test/maestro_finder_test.dart
  packages/maestro_test/test/maestro_tester_test.dart
  packages/maestro_test/test/smoke_test.dart
Labels: p: maestro_cli, p: maestro_test

add changelogs for not yet released version
  packages/maestro_test/CHANGELOG.md
Labels: p: maestro_test

revamp draggingTo and scrollingTo
  packages/maestro_test/example/integration_test/scrolling_test.dart
  packages/maestro_test/example/test/scrolling_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

add more tests
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

change order of code quality actions to: `test` -> `analyze` -> `format`
  .github/workflows/adb-prepare.yaml
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
Labels: none

add more dartdocs
  packages/maestro_test/example/integration_test/scrolling_test.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
Labels: p: maestro_test

update CHANGELOG.md with changes from this PR
  packages/maestro_test/CHANGELOG.md
Labels: p: maestro_test

remove bois (sad)
  packages/maestro_test/example/lib/overlay_screen.dart
  packages/maestro_test/example/test/overlay_screen_test.dart
  packages/maestro_test/test/smoke_test.dart
Labels: p: maestro_test

maestro_finder_test: add more logically divided test groups
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

remove empry `maestro_tester_test.dart`
  packages/maestro_test/test/maestro_tester_test.dart
Labels: p: maestro_test

Add more tests, revamp dragging and scrolling API (#217)
  .github/workflows/adb-prepare.yaml
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
  packages/maestro_cli/lib/src/common/common.dart
  packages/maestro_test/.gitignore
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/example/lib/overlay_screen.dart
  packages/maestro_test/example/test/overlay_screen_test.dart
  packages/maestro_test/example/test/scrolling_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/test/maestro_finder_test.dart
  packages/maestro_test/test/smoke_test.dart
Labels: p: maestro_cli, p: maestro_test

Add more tests, revamp dragging and scrolling API (#217)
  .github/workflows/adb-prepare.yaml
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
  packages/maestro_cli/lib/src/common/common.dart
  packages/maestro_test/.gitignore
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/example/lib/overlay_screen.dart
  packages/maestro_test/example/test/overlay_screen_test.dart
  packages/maestro_test/example/test/scrolling_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/test/maestro_finder_test.dart
  packages/maestro_test/test/smoke_test.dart
Labels: p: maestro_cli, p: maestro_test

`adb-publish`: use mobile-tools
  .github/workflows/adb-publish.yaml
Labels: none

`maestro_cli-publish`: use mobile-tools
  .github/workflows/maestro_cli-publish.yaml
Labels: none

`maestro_test-publish`: use mobile-tools
  .github/workflows/maestro_test-publish.yaml
Labels: none

maestro_test: set version to 0.5.0
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

maestro_cli: set version to 0.5.0
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

Release/maestro test v0.5 (#222)
  .github/workflows/adb-publish.yaml
  .github/workflows/maestro_cli-publish.yaml
  .github/workflows/maestro_test-publish.yaml
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_cli, p: maestro_test

Release/maestro test v0.5 (#222)
  .github/workflows/adb-publish.yaml
  .github/workflows/maestro_cli-publish.yaml
  .github/workflows/maestro_test-publish.yaml
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_cli, p: maestro_test

set min Dart SDK version to 2.17.0, min Flutter SDK version to 3.0.0
  packages/maestro_test/example/pubspec.yaml
  packages/maestro_test/lib/src/custom_finders/exceptions.dart
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.freezed.dart
  packages/maestro_test/lib/src/native/models/native_widget.freezed.dart
  packages/maestro_test/lib/src/native/models/notification.freezed.dart
  packages/maestro_test/lib/src/native/models/selector.freezed.dart
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

set `findRichText: true` for Maestro finder that is translated to find.textContaining
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
Labels: p: maestro_test

Bump `maestro_test` to Flutter 3.0.0 (#223)
  packages/maestro_test/example/pubspec.yaml
  packages/maestro_test/lib/src/custom_finders/exceptions.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.freezed.dart
  packages/maestro_test/lib/src/native/models/native_widget.freezed.dart
  packages/maestro_test/lib/src/native/models/notification.freezed.dart
  packages/maestro_test/lib/src/native/models/selector.freezed.dart
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

Bump `maestro_test` to Flutter 3.0.0 (#223)
  packages/maestro_test/example/pubspec.yaml
  packages/maestro_test/lib/src/custom_finders/exceptions.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.freezed.dart
  packages/maestro_test/lib/src/native/models/native_widget.freezed.dart
  packages/maestro_test/lib/src/native/models/notification.freezed.dart
  packages/maestro_test/lib/src/native/models/selector.freezed.dart
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

don't run github actions on 2.10.5
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
  packages/maestro_test/example/lib/loading_screen.dart
Labels: p: maestro_test

use super parameters
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/lib/notifications_screen.dart
  packages/maestro_test/example/lib/overlay_screen.dart
  packages/maestro_test/example/lib/scrolling_screen.dart
  packages/maestro_test/example/pubspec.yaml
Labels: p: maestro_test

update changelog
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

Bump minimum Dart to 2.17 (#224)
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/example/lib/loading_screen.dart
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/lib/notifications_screen.dart
  packages/maestro_test/example/lib/overlay_screen.dart
  packages/maestro_test/example/lib/scrolling_screen.dart
  packages/maestro_test/example/pubspec.yaml
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

Bump minimum Dart to 2.17 (#224)
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/example/lib/loading_screen.dart
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/lib/notifications_screen.dart
  packages/maestro_test/example/lib/overlay_screen.dart
  packages/maestro_test/example/lib/scrolling_screen.dart
  packages/maestro_test/example/pubspec.yaml
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

`MaestroFinder.scrollTo()`: don't throw `StateError` when there's more than 1 `Scrollable`
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

make `MaestroFinder.scrollTo` wait for Scrollable to appear + add tests for it
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

`MaestroFinder.waitUntilVisible()`: use time provided by the binding
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
Labels: p: maestro_test

add test "throws exception when no Scrollable is found within timeout"
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

`MaestroFinder.waitUntilExists()`: use time provided by the binding
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

add test "throws StateError when no widget is found after reaching maxScrolls"
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

add tests for tap
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

add tests for enterText
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

cleanup
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test

add more tests for enterText
  packages/maestro_test/test/maestro_finder_test.dart
Labels: p: maestro_test
