Repository leancodepl/patrol, changes with the labels that .github/labeler.yml gives for each.
All labels: p: adb, p: maestro_cli, p: maestro_test

remove "custom selector" term from everywhere
  README.md
  packages/maestro_cli/README.md
  packages/maestro_test/README.md
  packages/maestro_test/lib/maestro_test.dart
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/custom_finders/custom_finders.dart
  packages/maestro_test/lib/src/custom_finders/exceptions.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/lib/src/native/selector.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_cli, p: maestro_test

Chore/custom selector ditch (#148)
  README.md
  packages/maestro_cli/README.md
  packages/maestro_test/README.md
  packages/maestro_test/lib/maestro_test.dart
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/custom_finders/custom_finders.dart
  packages/maestro_test/lib/src/custom_finders/exceptions.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/lib/src/native/selector.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_cli, p: maestro_test

Chore/custom selector ditch (#148)
  README.md
  packages/maestro_cli/README.md
  packages/maestro_test/README.md
  packages/maestro_test/lib/maestro_test.dart
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/custom_finders/custom_finders.dart
  packages/maestro_test/lib/src/custom_finders/exceptions.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/lib/src/native/selector.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_cli, p: maestro_test

set maestro_cli version to 0.4.1
  AutomatorServer/android/app/build.gradle
  check_versions
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

set maestro_cli version to 0.4.1 (#149)
  AutomatorServer/android/app/build.gradle
  check_versions
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

set maestro_cli version to 0.4.1 (#149)
  AutomatorServer/android/app/build.gradle
  check_versions
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

add docs
  docs.json
  docs/cli-commands/bootstrap.mdx
  docs/cli-commands/clean.mdx
  docs/cli-commands/devices.mdx
  docs/cli-commands/doctor.mdx
  docs/cli-commands/drive.mdx
  docs/cli-commands/update.mdx
  docs/comparison.mdx
  docs/custom-finders/advanced.mdx
  docs/custom-finders/getting-started.mdx
  docs/custom-finders/overview.mdx
  docs/effective-maestro.mdx
  docs/index.mdx
  docs/native/getting-started.mdx
  docs/native/limitations.mdx
  docs/native/overview.mdx
  packages/maestro_test/example/test/analysis_options.yaml
Labels: p: maestro_test

add native features overview
  docs/comparison.mdx
  docs/native/limitations.mdx
  docs/native/overview.mdx
Labels: none

Add docs (#140)
  docs.json
  docs/cli-commands/bootstrap.mdx
  docs/cli-commands/clean.mdx
  docs/cli-commands/devices.mdx
  docs/cli-commands/doctor.mdx
  docs/cli-commands/drive.mdx
  docs/cli-commands/update.mdx
  docs/comparison.mdx
  docs/custom-finders/advanced.mdx
  docs/custom-finders/getting-started.mdx
  docs/custom-finders/overview.mdx
  docs/effective-maestro.mdx
  docs/index.mdx
  docs/native/getting-started.mdx
  docs/native/limitations.mdx
  docs/native/overview.mdx
  packages/maestro_test/example/test/analysis_options.yaml
Labels: p: maestro_test

Add docs (#140)
  docs.json
  docs/cli-commands/bootstrap.mdx
  docs/cli-commands/clean.mdx
  docs/cli-commands/devices.mdx
  docs/cli-commands/doctor.mdx
  docs/cli-commands/drive.mdx
  docs/cli-commands/update.mdx
  docs/comparison.mdx
  docs/custom-finders/advanced.mdx
  docs/custom-finders/getting-started.mdx
  docs/custom-finders/overview.mdx
  docs/effective-maestro.mdx
  docs/index.mdx
  docs/native/getting-started.mdx
  docs/native/limitations.mdx
  docs/native/overview.mdx
  packages/maestro_test/example/test/analysis_options.yaml
Labels: p: maestro_test

change all `ignore-tags` to `tags-ignore`
  .github/workflows/adb-prepare.yaml
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
Labels: none

fix `maestro_cli-publish`
  .github/workflows/maestro_cli-publish.yaml
Labels: none

bump `flutter-action` to v2
  .github/workflows/adb-publish.yaml
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_cli-publish.yaml
  .github/workflows/maestro_test-prepare.yaml
  .github/workflows/maestro_test-publish.yaml
Labels: none

cache Flutter installs
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
Labels: none

Fix GitHub Actions (#150)
  .github/workflows/adb-prepare.yaml
  .github/workflows/adb-publish.yaml
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_cli-publish.yaml
  .github/workflows/maestro_test-prepare.yaml
  .github/workflows/maestro_test-publish.yaml
Labels: none

Fix GitHub Actions (#150)
  .github/workflows/adb-prepare.yaml
  .github/workflows/adb-publish.yaml
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_cli-publish.yaml
  .github/workflows/maestro_test-prepare.yaml
  .github/workflows/maestro_test-publish.yaml
Labels: none

rename `Overview` to `About`
  docs.json
  docs/index.mdx
Labels: none

add better argumentation for strings
  docs/effective-maestro.mdx
Labels: none

bump AGP
  AutomatorServer/android/app/build.gradle
  AutomatorServer/android/build.gradle
Labels: none

disable showing keyboard when entering text
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
  AutomatorServer/android/build.gradle
Labels: none

remove `cache: true` from `subosito/flutter-action`
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
Labels: none

remove `cache: true` from `subosito/flutter-action` (#160)
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
Labels: none

remove `cache: true` from `subosito/flutter-action` (#160)
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
Labels: none

throw exception when iOS test fails
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

add link to `createFinder`
  docs/custom-finders/getting-started.mdx
Labels: none

throw exception when iOS test fails (#156)
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

throw exception when iOS test fails (#156)
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

add logo
  docs/index.mdx
  docs/logo.png
Labels: none

Improve docs (#153)
  docs.json
  docs/custom-finders/getting-started.mdx
  docs/effective-maestro.mdx
  docs/index.mdx
  docs/logo.png
Labels: none

Improve docs (#153)
  docs.json
  docs/custom-finders/getting-started.mdx
  docs/effective-maestro.mdx
  docs/index.mdx
  docs/logo.png
Labels: none

remove unused `MaestroTester.drag` and `MaestroTester.dragFrom`
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
Labels: p: maestro_test

remove unused `MaestroTester.drag` and `MaestroTester.dragFrom` (#166)
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
Labels: p: maestro_test

remove unused `MaestroTester.drag` and `MaestroTester.dragFrom` (#166)
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
Labels: p: maestro_test

first working version
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
Labels: p: maestro_test

add Scrolling Page to test whether `MaestroFinder.dragTo` works
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/example/integration_test/example_test.dart
  packages/maestro_test/example/integration_test/mini_test.dart
  packages/maestro_test/example/integration_test/notification_test.dart
  packages/maestro_test/example/lib/keys.dart
  packages/maestro_test/example/lib/loading_screen.dart
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/lib/overlay_screen.dart
  packages/maestro_test/example/lib/scrolling_screen.dart
  packages/maestro_test/example/test/scrolling_screen_test.dart
  packages/maestro_test/example/test/selector_test.dart
Labels: p: maestro_test

add overlay screen test in example app
  packages/maestro_test/example/test/overlay_screen_test.dart
Labels: p: maestro_test

refactor `keys.dart`
  packages/maestro_test/example/lib/keys.dart
Labels: p: maestro_test

Revert "refactor `keys.dart`"
  packages/maestro_test/example/lib/keys.dart
Labels: p: maestro_test

Add `MaestroFinder.dragTo` to make the API more smooth (#165)
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/example/integration_test/example_test.dart
  packages/maestro_test/example/integration_test/mini_test.dart
  packages/maestro_test/example/integration_test/notification_test.dart
  packages/maestro_test/example/lib/keys.dart
  packages/maestro_test/example/lib/loading_screen.dart
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/lib/overlay_screen.dart
  packages/maestro_test/example/lib/scrolling_screen.dart
  packages/maestro_test/example/test/overlay_screen_test.dart
  packages/maestro_test/example/test/scrolling_screen_test.dart
  packages/maestro_test/example/test/selector_test.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
Labels: p: maestro_test

Add `MaestroFinder.dragTo` to make the API more smooth (#165)
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/example/integration_test/example_test.dart
  packages/maestro_test/example/integration_test/mini_test.dart
  packages/maestro_test/example/integration_test/notification_test.dart
  packages/maestro_test/example/lib/keys.dart
  packages/maestro_test/example/lib/loading_screen.dart
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/lib/overlay_screen.dart
  packages/maestro_test/example/lib/scrolling_screen.dart
  packages/maestro_test/example/test/overlay_screen_test.dart
  packages/maestro_test/example/test/scrolling_screen_test.dart
  packages/maestro_test/example/test/selector_test.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
Labels: p: maestro_test

.github/labeler.yml:

"p: adb":
  - packages/adb/**/*
"p: maestro_cli":
  - packages/maestro_cli/**/*
"p: maestro_test":
  - packages/maestro_test/**/*
