Repository leancodepl/patrol, changes with the labels that .github/labeler.yml gives for each.
All labels: p: adb, p: maestro_cli, p: maestro_test

.github/labeler.yml:

"p: adb":
  - packages/adb/**/*
"p: maestro_cli":
  - packages/maestro_cli/**/*
"p: maestro_test":
  - packages/maestro_test/**/*

Implement permission handling on Android (#232)
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroAutomator.kt
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
  packages/maestro_test/example/android/app/build.gradle
  packages/maestro_test/example/android/app/src/main/AndroidManifest.xml
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/example/integration_test/example_test.dart
  packages/maestro_test/example/integration_test/location_test.dart
  packages/maestro_test/example/integration_test/mini_test.dart
  packages/maestro_test/example/integration_test/notifications_test.dart
  packages/maestro_test/example/integration_test/permissions_test.dart
  packages/maestro_test/example/lib/location_screen.dart
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/lib/permissions_screen.dart
  packages/maestro_test/example/pubspec.yaml
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_test

update changelog
  packages/maestro_cli/CHANGELOG.md
Labels: p: maestro_cli

set version to 0.5.1
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

maestro cli/release/v0.5.1 (#236)
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

maestro cli/release/v0.5.1 (#236)
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

fixed, but why it works like that, don't ask me
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/lib/scrolling_screen.dart
  packages/maestro_test/example/test/scrolling_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
Labels: p: maestro_test

remove debugging aids
  packages/maestro_test/example/integration_test/location_test.dart
  packages/maestro_test/example/integration_test/permissions_test.dart
  packages/maestro_test/example/test/scrolling_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
Labels: p: maestro_test

use global consts for `delta` and `maxIteration`
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
Labels: p: maestro_test

Fix `scrollTo` not scrolling in some weird cases (#237)
  packages/maestro_test/example/integration_test/location_test.dart
  packages/maestro_test/example/integration_test/permissions_test.dart
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/lib/scrolling_screen.dart
  packages/maestro_test/example/test/scrolling_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
Labels: p: maestro_test

Fix `scrollTo` not scrolling in some weird cases (#237)
  packages/maestro_test/example/integration_test/location_test.dart
  packages/maestro_test/example/integration_test/permissions_test.dart
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/lib/scrolling_screen.dart
  packages/maestro_test/example/test/scrolling_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
Labels: p: maestro_test

bump version
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

bump version (#238)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

bump version (#238)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

create `MaestroBinding`
  packages/maestro_test/lib/src/native/binding.dart
Labels: p: maestro_test

example app: add a sample webview screen
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/lib/webview_screen.dart
  packages/maestro_test/example/pubspec.yaml
Labels: p: maestro_test

example app: write integration test for the sample webview screen
  packages/maestro_test/example/integration_test/webview_test.dart
Labels: p: maestro_test

use `MaestroBinding` in `Maestro.forTest`
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_test

example app: set minSDK to 21 and targetSDK to 31
  packages/maestro_test/example/android/app/build.gradle
Labels: p: maestro_test

example app: create an integration test that does nothing but wait
  packages/maestro_test/example/integration_test/no_op_test.dart
  packages/maestro_test/example/integration_test/webview_test.dart
Labels: p: maestro_test

example app: `webview_test.dart`: improve test description
  packages/maestro_test/example/integration_test/webview_test.dart
Labels: p: maestro_test

add todo
  packages/maestro_test/lib/src/native/binding.dart
Labels: p: maestro_test

Add tests for webview, create `MaestroBinding` (#239)
  packages/maestro_test/example/android/app/build.gradle
  packages/maestro_test/example/integration_test/no_op_test.dart
  packages/maestro_test/example/integration_test/webview_test.dart
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/lib/webview_screen.dart
  packages/maestro_test/example/pubspec.yaml
  packages/maestro_test/lib/src/native/binding.dart
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_test

Add tests for webview, create `MaestroBinding` (#239)
  packages/maestro_test/example/android/app/build.gradle
  packages/maestro_test/example/integration_test/no_op_test.dart
  packages/maestro_test/example/integration_test/webview_test.dart
  packages/maestro_test/example/lib/main.dart
  packages/maestro_test/example/lib/webview_screen.dart
  packages/maestro_test/example/pubspec.yaml
  packages/maestro_test/lib/src/native/binding.dart
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_test

minor fix
  packages/maestro_test/example/integration_test/webview_test.dart
Labels: p: maestro_test

Fix webview_test.dart failing in example app (#245)
  packages/maestro_test/example/integration_test/webview_test.dart
Labels: p: maestro_test

Fix webview_test.dart failing in example app (#245)
  packages/maestro_test/example/integration_test/webview_test.dart
Labels: p: maestro_test

ios: print start time of the server
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
Labels: none

extract logging server IP address to a separate func
  AutomatorServer/ios/AutomatorServerUITests/Logger.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
Labels: none

remove timeouts from `mini_test`, they don't matter
  packages/maestro_test/example/integration_test/mini_test.dart
Labels: p: maestro_test

use `SwiftLocalhost` library
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/Podfile
  AutomatorServer/ios/Podfile.lock
Labels: none

Revert "use `SwiftLocalhost` library"
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/Podfile
  AutomatorServer/ios/Podfile.lock
Labels: none

build on iOS, some things were automatically added
  packages/maestro_test/example/ios/Flutter/AppFrameworkInfo.plist
  packages/maestro_test/example/ios/Podfile.lock
Labels: p: maestro_test

remove CocoaPods
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/Podfile
Labels: none

add GCDWebServer with Swift Package Manager
  AutomatorServer/ios/AutomatorServer.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

try to use github.com/JacobHearst/GCDWebServer
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.xcworkspace/xcuserdata/bartek.xcuserdatad/UserInterfaceState.xcuserstate
  AutomatorServer/ios/AutomatorServer.xcworkspace/contents.xcworkspacedata
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
Labels: none

remove github.com/JacobHearst/GCDWebServer
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/AutomatorServer.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

use `https://github.com/SlaunchaMan/GCDWebServer/tree/swift-package-manager`
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.xcworkspace/xcuserdata/bartek.xcuserdatad/UserInterfaceState.xcuserstate
  AutomatorServer/ios/AutomatorServer.xcworkspace/xcshareddata/swiftpm/Package.resolved
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
Labels: none

wip: progress with GCDWebServer
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.xcworkspace/xcuserdata/bartek.xcuserdatad/UserInterfaceState.xcuserstate
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
Labels: none

run GCDWebServer in AppDelegate.swift to test that it works
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.xcworkspace/xcuserdata/bartek.xcuserdatad/UserInterfaceState.xcuserstate
  AutomatorServer/ios/AutomatorServer/AppDelegate.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
Labels: none

hardcode port, run with localhost binding - nothing works :|
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.xcworkspace/xcuserdata/bartek.xcuserdatad/UserInterfaceState.xcuserstate
  AutomatorServer/ios/AutomatorServer/AppDelegate.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
Labels: none
