Repository leancodepl/patrol, changes with the labels that .github/labeler.yml gives for each.
All labels: p: adb, p: maestro_cli, p: maestro_test

use `https://github.com/Building42/Telegraph`
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.xcworkspace/xcuserdata/bartek.xcuserdatad/UserInterfaceState.xcuserstate
  AutomatorServer/ios/AutomatorServer/AppDelegate.swift
Labels: none

delete xcuserdata from git
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.xcworkspace/xcuserdata/bartek.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

works!
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
Labels: none

reimplement in Telegraph
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
Labels: none

update devel team
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
Labels: none

run an infinite loop
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
Labels: none

don't run pod install on first maestro_cli run
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/artifacts_repository.dart
Labels: p: maestro_cli

fail loudly when server cannot be started
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
Labels: none

fix analyzer failing in example app
  packages/maestro_cli/lib/src/features/bootstrap/file_contents.dart
Labels: p: maestro_cli

AppDelegate.swift: clean up
  AutomatorServer/ios/AutomatorServer/AppDelegate.swift
Labels: none

remove Package.resolved with outdated contents
  AutomatorServer/ios/AutomatorServer.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

show some mercy to the CPU
  AutomatorServer/ios/AutomatorServer/AppDelegate.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
  packages/maestro_test/example/integration_test/mini_test.dart
Labels: p: maestro_test

bring back "server started" message
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
Labels: none

Fix random `ClientException` crashes on iOS (#220)
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.xcworkspace/xcuserdata/bartek.xcuserdatad/UserInterfaceState.xcuserstate
  AutomatorServer/ios/AutomatorServer.xcworkspace/contents.xcworkspacedata
  AutomatorServer/ios/AutomatorServer/AppDelegate.swift
  AutomatorServer/ios/AutomatorServerUITests/Logger.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
  AutomatorServer/ios/Podfile
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/artifacts_repository.dart
  packages/maestro_cli/lib/src/features/bootstrap/file_contents.dart
  packages/maestro_test/example/integration_test/mini_test.dart
  packages/maestro_test/example/ios/Flutter/AppFrameworkInfo.plist
  packages/maestro_test/example/ios/Podfile.lock
Labels: p: maestro_cli, p: maestro_test

Fix random `ClientException` crashes on iOS (#220)
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.xcworkspace/xcuserdata/bartek.xcuserdatad/UserInterfaceState.xcuserstate
  AutomatorServer/ios/AutomatorServer.xcworkspace/contents.xcworkspacedata
  AutomatorServer/ios/AutomatorServer/AppDelegate.swift
  AutomatorServer/ios/AutomatorServerUITests/Logger.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
  AutomatorServer/ios/Podfile
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/artifacts_repository.dart
  packages/maestro_cli/lib/src/features/bootstrap/file_contents.dart
  packages/maestro_test/example/integration_test/mini_test.dart
  packages/maestro_test/example/ios/Flutter/AppFrameworkInfo.plist
  packages/maestro_test/example/ios/Podfile.lock
Labels: p: maestro_cli, p: maestro_test

fix `dragUntilVisible` not waiting for `view` to appear
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
Labels: p: maestro_test

write unit tests for `dragUntilVisible`
  packages/maestro_test/test/maestro_tester_test.dart
Labels: p: maestro_test

add 1 more test
  packages/maestro_test/test/maestro_tester_test.dart
Labels: p: maestro_test

Fix `dragUntilVisible` not waiting for the scrollable to become visible (#247)
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/test/maestro_tester_test.dart
Labels: p: maestro_test

Fix `dragUntilVisible` not waiting for the scrollable to become visible (#247)
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/test/maestro_tester_test.dart
Labels: p: maestro_test

tap() works on hardcoded XCUIApplication
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  packages/maestro_test/example/integration_test/webview_test.dart
Labels: p: maestro_test

example app: change appearance of permissions screen
  packages/maestro_test/example/lib/permissions_screen.dart
Labels: p: maestro_test

adding permission handling on iOS
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  packages/maestro_test/example/ios/Podfile
  packages/maestro_test/example/ios/Podfile.lock
  packages/maestro_test/example/ios/Runner/Info.plist
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_test

some fixes to the example app
  packages/maestro_test/example/integration_test/location_test.dart
  packages/maestro_test/example/lib/location_screen.dart
Labels: p: maestro_test

finish permissions on iOS
  packages/maestro_test/example/integration_test/permissions_test.dart
  packages/maestro_test/example/lib/permissions_screen.dart
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_test

make `MAESTRO_PORT` not required, default to 8081 instead
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
Labels: none

adding enterText on iOS
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  packages/maestro_test/example/integration_test/webview_test.dart
Labels: p: maestro_test

remove start time
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
Labels: none

introduce appId to iOS AutomatorServer methods
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_test

use `firstMatch`
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
Labels: none

add a tip for dumping native view hierarchy
  docs/tips-and-tricks.mdx
Labels: none

make `enterTextByIndex` work on iOS
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  packages/maestro_test/example/integration_test/webview_test.dart
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_test

add `packageName` and `bundleId` to maestro.toml
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/lib/src/features/drive/constants.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/drive_config.dart
  packages/maestro_cli/lib/src/features/drive/flutter_driver.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_test/example/integration_test/webview_test.dart
  packages/maestro_test/example/maestro.toml
  packages/maestro_test/lib/src/native/maestro.dart
Labels: p: maestro_cli, p: maestro_test

bump android gradle version
  packages/maestro_test/example/android/app/build.gradle
  packages/maestro_test/example/android/app/src/debug/AndroidManifest.xml
  packages/maestro_test/example/android/app/src/main/AndroidManifest.xml
  packages/maestro_test/example/android/app/src/profile/AndroidManifest.xml
  packages/maestro_test/example/android/build.gradle
  packages/maestro_test/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: p: maestro_test

fix android AutomatorServer to match changes on the iOS side
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
Labels: none

fix crashes on android
  AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/MaestroServer.kt
Labels: none

remove commented out code
  packages/maestro_test/example/integration_test/webview_test.dart
Labels: p: maestro_test

remove unused (i hope) timeouts
  packages/maestro_test/example/integration_test/webview_test.dart
Labels: p: maestro_test

add changelogs
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_test/CHANGELOG.md
Labels: p: maestro_cli, p: maestro_test

migrate to the updated version of the link_changelog script
  .github/workflows/adb-publish.yaml
  .github/workflows/maestro_cli-publish.yaml
  .github/workflows/maestro_test-publish.yaml
Labels: none

.github/labeler.yml:

"p: adb":
  - packages/adb/**/*
"p: maestro_cli":
  - packages/maestro_cli/**/*
"p: maestro_test":
  - packages/maestro_test/**/*
