Repository leancodepl/patrol, changes with the labels that .github/labeler.yml gives for each.
All labels: p: adb, p: maestro_cli, p: maestro_test

fix GH actions, again
  .github/workflows/maestro_cli-publish.yaml
Labels: none

move `upload_artifact` script to root directory
  upload_artifact
Labels: none

move `upload_artifact` script to root directory
  upload_artifact
Labels: none

fix `upload_artifact` script
  upload_artifact
Labels: none

maestro_cli: bump version to 0.4.4+1
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

Fix `upload_artifact` script (#193)
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
  upload_artifact
Labels: p: maestro_cli

Fix `upload_artifact` script (#193)
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
  upload_artifact
Labels: p: maestro_cli

Add new timeouts, refactor existing (#191)
  packages/maestro_test/example/test/loading_screen_test.dart
  packages/maestro_test/example/test/overlay_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/custom_finders/custom_finders.dart
  packages/maestro_test/lib/src/custom_finders/exceptions.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.dart
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.freezed.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

Add new timeouts, refactor existing (#191)
  packages/maestro_test/example/test/loading_screen_test.dart
  packages/maestro_test/example/test/overlay_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/custom_finders/custom_finders.dart
  packages/maestro_test/lib/src/custom_finders/exceptions.dart
  packages/maestro_test/lib/src/custom_finders/maestro_finder.dart
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.dart
  packages/maestro_test/lib/src/custom_finders/maestro_test_config.freezed.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

fix problem with `mason_logger` dependency
  packages/maestro_cli/lib/src/common/logging.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

fix problem with `mason_logger` dependency (#194)
  packages/maestro_cli/lib/src/common/logging.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

fix problem with `mason_logger` dependency (#194)
  packages/maestro_cli/lib/src/common/logging.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

remove "funny" strings from docs
  docs/custom-finders/overview.mdx
  docs/effective-maestro.mdx
Labels: none

remove "funny" strings from docs (#195)
  docs/custom-finders/overview.mdx
  docs/effective-maestro.mdx
Labels: none

remove "funny" strings from docs (#195)
  docs/custom-finders/overview.mdx
  docs/effective-maestro.mdx
Labels: none

v0.4.4+1
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

v0.4.4+1 (#197)
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

v0.4.4+1 (#197)
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

add `runInShell: true` to `maestro devices`
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
Labels: p: maestro_cli

add `runInShell: true` to `maestro devices` (#198)
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
Labels: p: maestro_cli

add `runInShell: true` to `maestro devices` (#198)
  packages/maestro_cli/lib/src/features/devices/devices_command.dart
Labels: p: maestro_cli

v0.4.4+3
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

v0.4.4+3 (#199)
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

v0.4.4+3 (#199)
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

AutomatorServer: print localhost address
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
Labels: none

change package name of ios AutomatorServer
  packages/maestro_test/example/integration_test/mini_test.dart
  packages/maestro_test/example/ios/Runner.xcodeproj/project.pbxproj
  packages/maestro_test/example/ios/Runner/Info.plist
Labels: p: maestro_test

run `pod install` only on macOS
  packages/maestro_cli/lib/src/common/artifacts_repository.dart
Labels: p: maestro_cli

remove leftover doc comment
  packages/maestro_cli/lib/src/common/artifacts_repository.dart
Labels: p: maestro_cli

Automatically run `pod install` (#206)
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  packages/maestro_cli/lib/src/common/artifacts_repository.dart
  packages/maestro_test/example/integration_test/mini_test.dart
  packages/maestro_test/example/ios/Runner.xcodeproj/project.pbxproj
  packages/maestro_test/example/ios/Runner/Info.plist
Labels: p: maestro_cli, p: maestro_test

Automatically run `pod install` (#206)
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  packages/maestro_cli/lib/src/common/artifacts_repository.dart
  packages/maestro_test/example/integration_test/mini_test.dart
  packages/maestro_test/example/ios/Runner.xcodeproj/project.pbxproj
  packages/maestro_test/example/ios/Runner/Info.plist
Labels: p: maestro_cli, p: maestro_test

add `DisposeScope`s to `MaestroCommandRunner`, `DriveCommand`, and `IOSDriver`
  packages/maestro_cli/lib/src/command_runner.dart
  packages/maestro_cli/lib/src/features/drive/drive_command.dart
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

return a function which cancels the port forwarding
  packages/adb/lib/src/adb.dart
Labels: p: adb

adb: set version to 0.1.6
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
Labels: p: adb

Return a cancel function from `Adb.forwardPorts` (#211)
  packages/adb/CHANGELOG.md
  packages/adb/lib/src/adb.dart
  packages/adb/pubspec.yaml
Labels: p: adb

Return a cancel function from `Adb.forwardPorts` (#211)
  packages/adb/CHANGELOG.md
  packages/adb/lib/src/adb.dart
  packages/adb/pubspec.yaml
Labels: p: adb

return `Process` from `Adb.instrument`
  packages/adb/lib/src/adb.dart
Labels: p: adb

ser version to 0.2.0
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
Labels: p: adb

feature/adb instrument refactor (#212)
  packages/adb/CHANGELOG.md
  packages/adb/lib/src/adb.dart
  packages/adb/pubspec.yaml
Labels: p: adb

feature/adb instrument refactor (#212)
  packages/adb/CHANGELOG.md
  packages/adb/lib/src/adb.dart
  packages/adb/pubspec.yaml
Labels: p: adb

use `subosito/flutter-action@main`
  .github/workflows/maestro_cli-prepare.yaml
  .github/workflows/maestro_test-prepare.yaml
Labels: none

.github/labeler.yml:

"p: adb":
  - packages/adb/**/*
"p: maestro_cli":
  - packages/maestro_cli/**/*
"p: maestro_test":
  - packages/maestro_test/**/*
