Repository leancodepl/patrol, changes with the labels that .github/labeler.yml gives for each.
All labels: p: adb, p: maestro_cli, p: maestro_test

Create `models` directory (#179)
  packages/maestro_test/.gitignore
  packages/maestro_test/lib/src/native/maestro.dart
  packages/maestro_test/lib/src/native/models/models.dart
  packages/maestro_test/lib/src/native/models/native_widget.dart
  packages/maestro_test/lib/src/native/models/native_widget.freezed.dart
  packages/maestro_test/lib/src/native/models/native_widget.g.dart
  packages/maestro_test/lib/src/native/models/notification.dart
  packages/maestro_test/lib/src/native/models/notification.freezed.dart
  packages/maestro_test/lib/src/native/models/notification.g.dart
  packages/maestro_test/lib/src/native/models/selector.dart
  packages/maestro_test/lib/src/native/models/selector.freezed.dart
  packages/maestro_test/lib/src/native/models/selector.g.dart
  packages/maestro_test/lib/src/native/native.dart
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

Create `MaestroTestConfig` class to make sharing config easier across tests (#178)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/example/integration_test/analysis_options.yaml
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/example/integration_test/config.dart
  packages/maestro_test/example/integration_test/example_test.dart
  packages/maestro_test/example/integration_test/mini_test.dart
  packages/maestro_test/example/integration_test/notification_test.dart
  packages/maestro_test/example/test/loading_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

Create `MaestroTestConfig` class to make sharing config easier across tests (#178)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/example/integration_test/analysis_options.yaml
  packages/maestro_test/example/integration_test/app_test.dart
  packages/maestro_test/example/integration_test/config.dart
  packages/maestro_test/example/integration_test/example_test.dart
  packages/maestro_test/example/integration_test/mini_test.dart
  packages/maestro_test/example/integration_test/notification_test.dart
  packages/maestro_test/example/test/loading_screen_test.dart
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/lib/src/custom_finders/maestro_tester.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

release maestro_test v0.4.5
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

release maestro_test v0.4.5 (#180)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

release maestro_test v0.4.5 (#180)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

fix package not being force installed when `INSTALL_FAILED_UPDATE_INCOMPATIBLE` occurs
  packages/adb/lib/src/exceptions.dart
  packages/adb/test/adb_test.dart
Labels: p: adb

fix package not being force installed when `INSTALL_FAILED_UPDATE_INCOMPATIBLE` occurs (#182)
  packages/adb/lib/src/exceptions.dart
  packages/adb/test/adb_test.dart
Labels: p: adb

fix package not being force installed when `INSTALL_FAILED_UPDATE_INCOMPATIBLE` occurs (#182)
  packages/adb/lib/src/exceptions.dart
  packages/adb/test/adb_test.dart
Labels: p: adb

v0.1.4
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
Labels: p: adb

v0.1.4 (#183)
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
Labels: p: adb

v0.1.4 (#183)
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
Labels: p: adb

downgrade package:freezed
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

regenerate
  packages/maestro_test/lib/src/native/models/selector.g.dart
Labels: p: maestro_test

bump version
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

Maestro_test v0.4.6 (#184)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/lib/src/native/models/selector.g.dart
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

Maestro_test v0.4.6 (#184)
  packages/maestro_test/CHANGELOG.md
  packages/maestro_test/lib/src/native/models/selector.g.dart
  packages/maestro_test/pubspec.yaml
Labels: p: maestro_test

match also `RichText` widgets
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

match also `RichText` widgets (#185)
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

match also `RichText` widgets (#185)
  packages/maestro_test/lib/src/custom_finders/common.dart
  packages/maestro_test/test/custom_selectors_test.dart
Labels: p: maestro_test

set version to 0.4.2
  AutomatorServer/android/app/build.gradle
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

bump `package:adb`
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

chore/release maestro cli v0.4.2 (#187)
  AutomatorServer/android/app/build.gradle
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

chore/release maestro cli v0.4.2 (#187)
  AutomatorServer/android/app/build.gradle
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

remove `forceInstallApk` from `package:adb`
  packages/adb/lib/src/adb.dart
  packages/adb/lib/src/exceptions.dart
  packages/adb/lib/src/extensions.dart
  packages/adb/test/adb_test.dart
Labels: p: adb

add generic `AdbException` and use it
  packages/adb/lib/src/adb.dart
  packages/adb/lib/src/exceptions.dart
  packages/adb/lib/src/internals.dart
Labels: p: adb

update version
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
Labels: p: adb

remove `forceInstallApk` from `package:adb` (#188)
  packages/adb/CHANGELOG.md
  packages/adb/lib/src/adb.dart
  packages/adb/lib/src/exceptions.dart
  packages/adb/lib/src/extensions.dart
  packages/adb/lib/src/internals.dart
  packages/adb/pubspec.yaml
  packages/adb/test/adb_test.dart
Labels: p: adb

remove `forceInstallApk` from `package:adb` (#188)
  packages/adb/CHANGELOG.md
  packages/adb/lib/src/adb.dart
  packages/adb/lib/src/exceptions.dart
  packages/adb/lib/src/extensions.dart
  packages/adb/lib/src/internals.dart
  packages/adb/pubspec.yaml
  packages/adb/test/adb_test.dart
Labels: p: adb

once and for all fix a bug with mismatched APK certificates
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

disable `findRichText: true` from `$(RegExp())` to make it work on Dart < 2.17
  packages/maestro_test/lib/src/custom_finders/common.dart
Labels: p: maestro_test

set maestro_cli version to 0.4.3
  AutomatorServer/android/app/build.gradle
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

Fix `maestro drive` crashing beacuse of APK certificate mismatch (#189)
  AutomatorServer/android/app/build.gradle
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
  packages/maestro_test/lib/src/custom_finders/common.dart
Labels: p: maestro_cli, p: maestro_test

Fix `maestro drive` crashing beacuse of APK certificate mismatch (#189)
  AutomatorServer/android/app/build.gradle
  packages/maestro_cli/CHANGELOG.md
  packages/maestro_cli/lib/src/common/constants.dart
  packages/maestro_cli/lib/src/features/drive/android/android_driver.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
  packages/maestro_test/lib/src/custom_finders/common.dart
Labels: p: maestro_cli, p: maestro_test

print current IP address
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/AutomatorServerUITests/AutomatorServerUITests-Bridging-Header.h
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/UIDeviceExtensions.swift
  AutomatorServer/ios/AutomatorServerUITests/XCUIDevice+WiFiAddr.h
  AutomatorServer/ios/AutomatorServerUITests/XCUIDevice+WiFiAddr.m
Labels: none

maestro_cli: list also physical iOS devices
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
Labels: p: maestro_cli

remove commented-out code
  AutomatorServer/ios/AutomatorServer.xcodeproj/project.pbxproj
  AutomatorServer/ios/AutomatorServerUITests/UIDeviceExtensions.swift
Labels: none

try to handle permission popups
  AutomatorServer/ios/AutomatorServerUITests/MaestroAutomation.swift
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
  AutomatorServer/ios/AutomatorServerUITests/ServerLoop.swift
Labels: none

big mess, wip
  packages/maestro_cli/lib/src/features/drive/ios/ios_driver.dart
  packages/maestro_cli/pubspec.lock
  packages/maestro_cli/pubspec.yaml
Labels: p: maestro_cli

run on public interface
  AutomatorServer/ios/AutomatorServerUITests/MaestroServer.swift
Labels: none

.github/labeler.yml:

"p: adb":
  - packages/adb/**/*
"p: maestro_cli":
  - packages/maestro_cli/**/*
"p: maestro_test":
  - packages/maestro_test/**/*
