Repository leancodepl/patrol, pull requests merged in 2023-06, with the labels that each got.

#1327 Set up fastlane match
  .github/workflows/send-slack-message.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/example/ios/Gemfile
  packages/patrol/example/ios/Gemfile.lock
  packages/patrol/example/ios/Matchfile
  packages/patrol/example/ios/fastlane/Appfile
  packages/patrol/example/ios/fastlane/Fastfile
  packages/patrol/example/run_android_testlab
  packages/patrol/example/run_ios_testlab
Labels: package: patrol

#1348 Improve native setup code on Android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
Labels: package: patrol

#1350 Release patrol v2.0.0-dev.3
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1345 Add migration guide for v2 + fix outdated docs
  docs.json
  docs/getting-started/native.mdx
  docs/migration_guide_v2.mdx
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/example/android/app/build.gradle
Labels: docs, package: patrol

#1354 Create a new constructor for `PatrolAppServiceClient`
  docs/getting-started/native.mdx
  docs/migration_guide_v2.mdx
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
Labels: docs, package: patrol

#1355 Release `patrol` v2.0.0-dev.4
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1358 Fix broken link in patrol_cli README
  packages/patrol_cli/README.md
Labels: package: patrol_cli

#1352 Investigation of test failures on Flutter 3.10 on Android
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
Labels: package: patrol

#1371 Release patrol v1.1.5
  packages/patrol/CHANGELOG.md
  packages/patrol/example/integration_test/webview_hackernews_test.dart
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1372 Backport changes from `master` into `develop`
  CODEOWNERS
  docs/native/feature-parity.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
  packages/patrol_cli/README.md
Labels: docs, package: patrol, package: patrol_cli

#1285 Feature/maybe settle
  docs/finders/advanced.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/example/test/loading_screen_test.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol/test/patrol_tester_test.dart
Labels: docs, package: patrol

#1325 Fix/scrolling rework
  docs/finders/advanced.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol/pubspec.yaml
  packages/patrol/test/patrol_finder_test.dart
  packages/patrol/test/patrol_tester_test.dart
Labels: docs, package: patrol

#1375 patrol: release v2.0.0-dev.6
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1377 Fix bugs in `patrol develop`'s behavior when running on iOS Simulator
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Labels: package: patrol_cli

#1378 Release `patrol_cli` v2.0.0-dev.3
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#1370 Fix `patrol develop` always showing tests as passing and not reporting any failed expectations
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/binding.dart
Labels: package: patrol

#1379 Release `patrol` v2.0.0-dev.7
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1381 Delete `webview_login_test.dart`
  packages/patrol/example/integration_test/webview_login_test.dart
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/lib/main.dart
Labels: package: patrol

#1382 Fix merge conflicts with master
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1386 Remove 2.0 docs
  docs.json
  docs/finders/advanced.mdx
  docs/getting-started/native.mdx
  docs/tips-and-tricks.mdx
  docs/v2.mdx
Labels: docs

#1391 Add warning about v2 migration
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Labels: package: patrol_cli

#1393 Update code comment about workaround for Android since Flutter 3.10
  packages/patrol/lib/src/common.dart
Labels: package: patrol

#1395 Implement a fix for `SemanticsHandle`s bug on Android
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ConfigureRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsGrpcKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DarkModeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestCaseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestGroupKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EmptyKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EnterTextRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/HandlePermissionRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ListDartTestsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorGrpc.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeViewKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NotificationKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenAppRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenQuickSettingsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SelectorKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SetLocationAccuracyRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SubmitTestResultsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SwipeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapOnNotificationRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapRequestKt.kt
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.pbgrpc.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Labels: package: patrol, package: patrol_cli

#1397 Revert "Implement a fix for `SemanticsHandle`s bug on Android"
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ConfigureRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsGrpcKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DarkModeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestCaseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestGroupKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EmptyKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EnterTextRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/HandlePermissionRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ListDartTestsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorGrpc.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeViewKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NotificationKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenAppRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenQuickSettingsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SelectorKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SetLocationAccuracyRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SubmitTestResultsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SwipeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapOnNotificationRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapRequestKt.kt
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.pbgrpc.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Labels: package: patrol, package: patrol_cli

#1129 Add CirrusCI for testing `patrol develop`
  .cirrus.yml
  .gitignore
  dev/README.md
  dev/cli_tests/analysis_options.yaml
  dev/cli_tests/patrol_develop_test.dart
  dev/cli_tests/pubspec.lock
  dev/cli_tests/pubspec.yaml
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Labels: package: patrol_cli

#1387 Add docs for 2.0
  docs.json
  docs/finders/advanced.mdx
  docs/getting-started/native.mdx
  docs/tips-and-tricks.mdx
  docs/v2.mdx
Labels: docs

#1404 General docs updates for 2.0
  docs/index.mdx
  packages/patrol/CHANGELOG.md
Labels: docs, package: patrol

#1406 Update v2.mdx
  docs/v2.mdx
Labels: docs

#1408 More docs updates for v2
  README.md
  docs/getting-started/native.mdx
  docs/index.mdx
Labels: docs

#1396 Fix Slack messages from matrix
  .github/workflows/send-slack-message.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/example/run_android_testlab
Labels: package: patrol

#1415 Override `webview_flutter_wkwebview` version to '3.5.0'
  packages/patrol/example/pubspec.yaml
Labels: package: patrol

#1418 Update advanced.mdx
  docs/native/advanced.mdx
Labels: docs

#1423 Fix `webview_stackoverflow_test` trying to tap on iOS-only button on Android
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
Labels: package: patrol

#1424 Remove outdated `advanced native automation` section
  docs.json
  docs/native/advanced.mdx
Labels: docs

#1398 Implement a fix for `SemanticsHandle`s bug on Android (2nd take)
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ConfigureRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsGrpcKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DarkModeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestCaseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestGroupKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EmptyKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EnterTextRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNotificationsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/HandlePermissionRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ListDartTestsResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorGrpc.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeViewKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NotificationKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenAppRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/OpenQuickSettingsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PermissionDialogVisibleResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestResponseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SelectorKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SetLocationAccuracyRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SubmitTestResultsRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/SwipeRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapOnNotificationRequestKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/TapRequestKt.kt
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.pbgrpc.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Labels: package: patrol, package: patrol_cli

#1426 Remove unused orchestration code (`TestRunner` class)
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/test.freezed.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/crossplatform/test_runner_test.dart
Labels: package: patrol_cli

#1431 Fix `patrol build ios` to test only `RunnerUITests` target
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Labels: package: patrol_cli

#1432 Increase native find timeout in example app's UI tests
  packages/patrol/example/integration_test/common.dart
Labels: package: patrol

#1444 Ignore calls to `selectFineLocation()` and `selectCoarseLocation` on API < 31
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Labels: package: patrol

#1443 Minor fixes to `test android emulator` workflow
  .github/workflows/test-android-emulator.yaml
  packages/patrol/example/emulatorwtf.yaml
Labels: package: patrol
