Repository leancodepl/patrol, pull requests merged in 2023-12, with the labels that each got.

#1988 Fix android and iOS scripts links
  docs/ci/firebase-test-lab.mdx
Labels: docs

#1989 Add macos setup instruction to docs
  dev/e2e_app/macos/Runner.xcodeproj/project.pbxproj
  docs/assets/macos_deployment_target.png
  docs/assets/macos_deployment_target_2.png
  docs/assets/macos_entitlements.png
  docs/assets/macos_runner_build_phases.png
  docs/assets/macos_ui_entitlements.png
  docs/getting-started.mdx
  docs/native/feature-parity.mdx
Labels: docs

#1991 Patrol CLI: pass more specific `-only-testing` args to `xcodebuild`
  packages/patrol/example/ios/Podfile.lock
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Labels: package: patrol, package: patrol_cli

#1996 Add warning about macOS alpha in instruction
  docs/getting-started.mdx
Labels: docs

#2004 Prepare version with macOS support for the release
  dev/e2e_app/pubspec.lock
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#2006 Add java directory in MainActivityTest.java path
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
Labels: package: patrol

#2008 Fix being unable to interact with the running app with a finger
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/binding.dart
Labels: package: patrol

#2010 DartHttp client generator: decode response using UTF-8
  dev/e2e_app/ios/Podfile.lock
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol_gen/lib/src/generators/dart/dart_http_client_generator.dart
Labels: package: patrol, cirrusci

#2009 Allow defining custom test file suffix
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/lib/src/test_finder.dart
  packages/patrol_cli/test/general/test_finder_test.dart
Labels: package: patrol_cli

#2011 Fix opening devtools on windows
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Labels: package: patrol_cli

#2001 Enable selecting individual tests with `xcodebuild`'s `-only-testing` option (basic implementation)
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
  packages/patrol/CHANGELOG.md
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
  packages/patrol/darwin/Classes/PatrolUtils.h
  packages/patrol/darwin/Classes/PatrolUtils.m
  packages/patrol/example/ios/Podfile.lock
Labels: package: patrol, cirrusci

#2015 release patrol v3.3.0 and patrol_cli v2.5.0
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1993 Setup instruction improvement
  docs/assets/ios_runner_build_phases_create.png
  docs/assets/macos_runner_build_phases_create.png
  docs/getting-started.mdx
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/doctor.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/update.dart
  packages/patrol_cli/lib/src/compatibility_checker.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/devices.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Labels: docs, package: patrol_cli

#2020 Update v3.mdx
  docs/v3.mdx
Labels: docs

#2018 Feature/patrol setup improvement
  .github/workflows/patrol-prepare.yaml
  dev/e2e_app/pubspec.lock
  docs/assets/ios_runner_configs.png
  docs/assets/ios_test_target.png
  docs/getting-started.mdx
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/android/app/google-services.json
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
  packages/patrol/example/pubspec.yaml
Labels: docs, package: patrol

#2023 Fix `patrolSetUp` and `patrolTearDown` not working in `patrol develop`
  dev/e2e_app/integration_test/example_test.dart
  packages/patrol/lib/src/common.dart
Labels: package: patrol, cirrusci

#2027 Add support for custom port on iOS
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Labels: package: patrol, package: patrol_cli

#2032 Fix/macos workflow
  packages/patrol/example/macos/Podfile
  packages/patrol/example/macos/Podfile.lock
  packages/patrol/example/macos/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/pubspec.yaml
  packages/patrol_cli/lib/src/compatibility_checker.dart
Labels: package: patrol, package: patrol_cli

#2034 Remove custom ports from build_android.dart
  packages/patrol/example/ios/Podfile.lock
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/develop.dart
Labels: package: patrol, package: patrol_cli, cirrusci
