Repository leancodepl/patrol, pull requests merged in 2023-07, with the labels that each got.

#1446 Update dependencies of the example app
  .github/workflows/patrol-prepare.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/android/build.gradle
  packages/patrol/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/patrol/example/lib/main.dart
  packages/patrol/example/lib/notifications_screen.dart
  packages/patrol/example/pubspec.yaml
Labels: package: patrol

#1447 Release v2.0.1 of `patrol` and `patrol_cli`
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1459 Added check of kIsWeb before usage of Platform / dart:io package
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Labels: package: patrol

#1463 patrol: bump version to 2.0.2
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1478 Automated UI services banner to the docs
  docs/assets/services.png
  docs/index.mdx
Labels: docs

#1484 AndroidAppOptions: fix `--release` not being forwarded to Gradle tasks
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Labels: package: patrol_cli

#1485 Remove `patrol`'s dependency on `http`
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1487 Release new versions (patrol v2.0.3, patrol_cli v2.0.2)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1491 Add workaround for `SemanticsHandle` on physical iOS devices
  packages/patrol/lib/src/common.dart
Labels: package: patrol

#1498 example app: fix location permission being broken
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/pubspec.yaml
Labels: package: patrol

#1500 Uninstall the apps before running tests
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
Labels: package: patrol, package: patrol_cli

#1509 Fix cryptic failures with Gradle builds
  packages/patrol/android/build.gradle
Labels: package: patrol

#1512 patrol: bump version to 2.0.5
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1510 Implement openQuickSettings for iPhones without notch
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Labels: package: patrol

#1514 Fix wrong sentence in native automation setup docs
  docs/getting-started/native.mdx
Labels: docs

#1521 Improve docs
  docs/getting-started/native.mdx
  docs/native/feature-parity.mdx
Labels: docs

#1402 Introduce a workaround to enable testing on BrowserStack on Android
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/BrowserstackPatrolJUnitRunner.java
Labels: package: patrol

#1529 Ignore all `adb` crashes when uninstalling in pre-execute step
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
Labels: package: patrol_cli

#1533 release new versions (patrol 2.0.7, patrol_cli 2.0.4)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1511 Add `showKeyboard` flag when using `$.native.enterText()`
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EnterTextRequestKt.kt
  packages/patrol/example/integration_test/common.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.pb.swift
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
  packages/patrol/lib/src/native/native_automator.dart
Labels: package: patrol

#1537 Docs/enhance ios setup
  docs/assets/ios_deployment_target.png
  docs/assets/ios_deployment_target_2.png
  docs/getting-started/native.mdx
Labels: docs

#1468 Pretty important fixes for CI
  .github/workflows/send-slack-message.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/example/emulatorwtf.yaml
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/example/integration_test/webview_hackernews_test.dart
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
  packages/patrol/example/run_android_testlab
  packages/patrol/example/run_ios_testlab
Labels: package: patrol

#1548 Fix link to native steup
  docs/ci/firebase-test-lab.mdx
Labels: docs

#1543 Add native `waitUntilVisible()`
  contracts.proto
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ContractsGrpcKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorGrpc.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/WaitUntilVisibleRequestKt.kt
  packages/patrol/example/integration_test/common.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.pb.swift
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbgrpc.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
  packages/patrol/lib/src/native/native_automator.dart
Labels: package: patrol

#1550 patrol: bump version to 2.1.0
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1545 Fix/scrolling speed
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol/test/patrol_tester_test.dart
Labels: package: patrol

#1558 Fix set of devices in `emulatorwtf.yaml`
  packages/patrol/example/emulatorwtf.yaml
Labels: package: patrol

#1557 Don't check for `patrol_cli` updates on CI
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/analytics/analytics_test.dart
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
Labels: package: patrol_cli

#1561 Improve testing of `grantPermissionOnlyThisTime` on Android
  .github/workflows/test-android-emulator.yaml
  packages/patrol/example/emulatorwtf.yaml
  packages/patrol/example/integration_test/permissions_many_test.dart
Labels: package: patrol

#1562 Minor refactor of emulatorwtf.yaml structure
  packages/patrol/example/emulatorwtf.yaml
Labels: package: patrol

#1564 Ignore calls to `select[Fine|Coarse]Location()` on iOS < 14
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Labels: package: patrol

#1565 Add `--no-generate-bundle` flag
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/test_bundler_test.dart
Labels: package: patrol_cli

#1553 Add support for `getNativeViews` on iOS
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/GetNativeViewsRequestKt.kt
  packages/patrol/example/integration_test/analysis_options.yaml
  packages/patrol/example/integration_test/get_native_views_test.dart
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.pb.swift
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
  packages/patrol/lib/src/native/native.dart
  packages/patrol/lib/src/native/native_automator.dart
Labels: package: patrol

#1569 Make `Selector.instance` work on iOS
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Labels: package: patrol
