Repository leancodepl/patrol, pull requests merged in 2023-05, with the labels that each got.

#1249 Fix analytics being sent even when the user denied access
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/analytics/analytics_test.dart
  packages/patrol_cli/test/src/fakes.dart
  packages/patrol_cli/test/src/mocks.dart
Labels: package: patrol_cli

#1250 patrol_cli: bump version to 1.1.8
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#1236 POC Translate Dart-side Flutter integration tests to virtual `XCTest` on iOS
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-publish.yaml
  packages/patrol/example/integration_test/open_quick_settings_test.dart
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
  packages/patrol/example/ios/RunnerTests/RunnerTests.swift
  packages/patrol/example/ios/RunnerUITests/RunnerUITests.m
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/ios/Classes/PatrolAppServiceClient.swift
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.m
  packages/patrol/ios/Classes/PatrolPlugin.m
  packages/patrol/ios/Classes/PatrolUtils.h
  packages/patrol/ios/Classes/PatrolUtils.m
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/analytics/analytics_test.dart
  packages/patrol_cli/test/src/fakes.dart
  packages/patrol_cli/test/src/mocks.dart
Labels: package: patrol, package: patrol_cli

#1239 Docs/reorganize getting started
  docs.json
  docs/getting-started/custom-finders.mdx
  docs/getting-started/getting-started.mdx
  docs/getting-started/native.mdx
Labels: docs

#1255 Fix `patrol` command crashing on Windows
  .github/workflows/patrol_cli-prepare.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Labels: package: patrol_cli

#1257 Release patrol v1.1.1 and patrol_cli v1.1.9
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1259 patrol: bump dev version to 1.2.0-dev.3
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1262 Stop depending on Protobuf Gradle Plugin
  packages/patrol/android/build.gradle
Labels: package: patrol

#1264 Release patrol v1.1.2
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1267 Backport changes from `master` to `develop`
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/android/build.gradle
Labels: package: patrol

#1219 Add Dart test bundler
  .github/workflows/patrol-prepare.yaml
  .gitignore
  packages/patrol/android/src/test/kotlin/pl/leancode/patrol/ContractsExtensionsTest.kt
  packages/patrol/example/.gitignore
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol/example/integration_test/bundled_test.dart
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/base/extensions/fs.dart
  packages/patrol_cli/lib/src/base/extensions/platform.dart
  packages/patrol_cli/lib/src/base/fs.dart
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/lib/src/test_runner.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_cli/test/test_bundler_test.dart
Labels: package: patrol, package: patrol_cli

#1271 Fix `PatrolFinder.which()` so that it takes previous finder(s) into account
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/test/patrol_finder_test.dart
Labels: package: patrol

#1275 Patrol: bump version to 1.1.3
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1278 Simplify code and add more comments in native Android part
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/MainActivityTest.java
  packages/patrol_cli/lib/src/test_bundler.dart
Labels: package: patrol, package: patrol_cli

#1248 Use test bundling on CI
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-2.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/example/run_android_testlab
Labels: package: patrol

#1283 Clean up bundled test
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
  packages/patrol/lib/src/common.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Labels: package: patrol, package: patrol_cli

#1293 Backport master into develop
  packages/patrol/CHANGELOG.md
  packages/patrol/android/build.gradle
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/test/patrol_finder_test.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1294 Remove the `--repeat` option
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/test.freezed.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Labels: package: patrol_cli

#1296 Release new dev versions
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1303 Fix test bundling on physical iOS devices
  packages/patrol/CHANGELOG.md
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol_cli/lib/src/commands/doctor.dart
  packages/patrol_cli/lib/src/ios/ios_deploy.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Labels: package: patrol, package: patrol_cli

#1306 Fix displaying current test name ("test label")
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/binding.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/test.freezed.dart
Labels: package: patrol, package: patrol_cli

#1308 Release new dev versions (2.0.0-dev.2)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1274 Fix test failures that occur only on Windows
  packages/patrol_cli/lib/src/dart_defines_reader.dart
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/test/general/dart_defines_reader_test.dart
  packages/patrol_cli/test/general/pubspec_reader_test.dart
  packages/patrol_cli/test/general/test_finder_test.dart
  packages/patrol_cli/test/src/common.dart
  packages/patrol_cli/test/test_bundler_test.dart
Labels: package: patrol_cli

#1318 `patrol test`: add a warning about running on multiple devices being deprecated
  packages/patrol_cli/lib/src/commands/test.dart
Labels: package: patrol_cli

#1319 patrol_cli: bump version to 1.1.11
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#1320 Backport changes from `master` to `develop`
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/test.dart
Labels: package: patrol_cli
