Repository leancodepl/patrol, pull requests merged in 2023-02, with the labels that each got.

#867 Add more deprecation notices to the CLI
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/common/artifacts_repository.freezed.dart
  packages/patrol_cli/lib/src/common/logger.dart
  packages/patrol_cli/lib/src/features/bootstrap/bootstrap_command.dart
  packages/patrol_cli/lib/src/features/clean/clean_command.dart
  packages/patrol_cli/lib/src/features/doctor/doctor_command.dart
  packages/patrol_cli/lib/src/features/drive/drive_command.dart
  packages/patrol_cli/lib/src/features/drive/drive_command.freezed.dart
  packages/patrol_cli/lib/src/features/test/native_test_runner.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/lib/src/features/test/test_command.freezed.dart
Labels: package: patrol_cli

#863 Preliminary support for running on physical iOS devices with `ios-deploy`
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/notifications_test.dart
  packages/patrol/example/ios/.gitignore
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner/AppDelegate.swift
  packages/patrol/example/ios/Runner/Info.plist
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.m
  packages/patrol/ios/Classes/SwiftPatrolPlugin.swift
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/common/logging_local_process_manager.dart
  packages/patrol_cli/lib/src/common/staged_command.dart
  packages/patrol_cli/lib/src/common/tool_exit.dart
  packages/patrol_cli/lib/src/features/devices/device_finder.dart
  packages/patrol_cli/lib/src/features/doctor/doctor_command.dart
  packages/patrol_cli/lib/src/features/drive/drive_command.dart
  packages/patrol_cli/lib/src/features/run_commons/device.dart
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
  packages/patrol_cli/lib/src/features/test/ios_deploy.dart
  packages/patrol_cli/lib/src/features/test/ios_test_backend.dart
  packages/patrol_cli/lib/src/features/test/native_test_runner.dart
  packages/patrol_cli/lib/src/features/test/test_backend.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/test/features/drive/drive_command_test.dart
  packages/patrol_cli/test/features/run_commons/device_finder_test.dart
  packages/patrol_cli/test/features/test/android_test_backend_test.dart
  packages/patrol_cli/test/features/test/ios_test_backend_test.dart
  packages/patrol_cli/test/features/test/native_test_runner_test.dart
  packages/patrol_cli/test/features/test/test_command_test.dart
Labels: package: patrol, package: patrol_cli

#868 Read package name and bundle identifier from pubspec.yaml
  packages/patrol/example/pubspec.yaml
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/features/test/pubspec_reader.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/test/features/test/test_command_test.dart
Labels: package: patrol, package: patrol_cli

#876 `TestFinder.findAllTests()`: improve error message
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/features/run_commons/test_finder.dart
  packages/patrol_cli/test/common.dart
  packages/patrol_cli/test/features/run_commons/test_finder_test.dart
Labels: package: patrol_cli

#877 Fix `patrol publish` action failing
  .github/labeler.yml
  .github/workflows/adb-prepare.yaml
  .github/workflows/adb-publish.yaml
  .github/workflows/automator-android-prepare.yaml
  .github/workflows/automator-ios-prepare.yaml
  .github/workflows/integration-test-android.yaml
  .github/workflows/integration-test-ios.yaml
  .github/workflows/label_pull_request.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_cli-publish.yaml
  .github/workflows/testlab-android.yaml
  .github/workflows/testlab-ios.yaml
  packages/adb/pubspec.yaml
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
Labels: package: patrol, package: adb

#882 Make `patrol test` run tests in the same order as `ls -l` would
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/features/run_commons/test_finder.dart
  packages/patrol_cli/test/features/run_commons/test_finder_test.dart
Labels: package: patrol_cli

#884 Run more formatting and linting tools for both Android and iOS code
  .github/workflows/patrol-prepare.yaml
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolPlugin.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/ios/Classes/AutomatorServer/contracts.grpc.swift
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.m
Labels: package: patrol

#885 Fix `--dart-defines` not being encoded correctly on Android when `patrol test`-ing
  packages/patrol/lib/src/binding.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
  packages/patrol_cli/lib/src/features/test/ios_test_backend.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/test/features/test/android_test_backend_test.dart
Labels: package: patrol, package: patrol_cli

#875 Add documentation for `patrol` block in `pubspec.yaml`
  docs/native/setup.mdx
Labels: docs

#889 Fix `patrol test` broken on Windows when running tests on Android
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
Labels: package: patrol_cli

#892 Glue `PubspecReader` with `TestCommand` and app-side config
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/features/test/pubspec_reader.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/test/features/test/android_test_backend_test.dart
  packages/patrol_cli/test/features/test/pubspec_reader_test.dart
  packages/patrol_cli/test/features/test/test_command_test.dart
Labels: package: patrol, package: patrol_cli

#895 Minor CI and documentation fixes
  .github/workflows/integration-test-ios.yaml
  docs/cli-commands/test.mdx
  docs/tips-and-tricks.mdx
  packages/patrol/example/integration_test/android_app_test.dart
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol_cli/README.md
Labels: docs, package: patrol, package: patrol_cli

#900 Small refactor to `TestFinder`
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/features/run_commons/test_finder.dart
  packages/patrol_cli/test/features/drive/drive_command_test.dart
  packages/patrol_cli/test/features/run_commons/test_finder_test.dart
  packages/patrol_cli/test/features/test/test_command_test.dart
Labels: package: patrol, package: patrol_cli

#902 Fix crash caused by `PatrolBinding` when using AGP 7.3.1 and resuming the app from background when using `patrol test`
  packages/patrol/lib/src/binding.dart
Labels: package: patrol

#904 `patrol`: remove dependency on json_annotation and json_serializable
  packages/patrol/pubspec.yaml
Labels: package: patrol

#899 Fix Gradle test results being overwritten in the example app
  packages/patrol/example/android/app/build.gradle
Labels: package: patrol

#906 LoggingLocalProcessManager: when running `--verbose`, print invocation in cyan
  packages/patrol_cli/lib/src/common/logging_local_process_manager.dart
Labels: package: patrol_cli

#907 IOSTestBackend: fix .xctrunner app not being uninstalled after tests finish on iOS Simulator
  packages/patrol_cli/lib/src/features/test/ios_test_backend.dart
  packages/patrol_cli/test/features/test/ios_test_backend_test.dart
Labels: package: patrol_cli

#908 Use a single instance of `LoggingLocalProcessManager`
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/common/artifacts_repository.dart
  packages/patrol_cli/lib/src/features/bootstrap/bootstrap_command.dart
  packages/patrol_cli/lib/src/features/clean/clean_command.dart
  packages/patrol_cli/lib/src/features/drive/drive_command.dart
  packages/patrol_cli/lib/src/features/run_commons/test_finder.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
Labels: package: patrol_cli

#912 Fix a few bugs in documentation
  docs.json
  docs/finders/advanced.mdx
  docs/finders/overview.mdx
  docs/finders/usage.mdx
  docs/getting-started.mdx
  docs/index.mdx
  docs/native/setup.mdx
  packages/patrol/README.md
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_cli/README.md
Labels: docs, package: patrol, package: patrol_cli

#915 Delete functionality that is scheduled for removal
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/patrol_cli-prepare.yaml
  packages/patrol/example/test_driver/integration_test.dart
  packages/patrol/lib/patrol_driver.dart
  packages/patrol/pubspec.yaml
  packages/patrol_cli/check_versions
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/common/artifacts_repository.dart
  packages/patrol_cli/lib/src/common/artifacts_repository.freezed.dart
  packages/patrol_cli/lib/src/common/common.dart
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/lib/src/features/bootstrap/bootstrap_command.dart
  packages/patrol_cli/lib/src/features/bootstrap/file_contents.dart
  packages/patrol_cli/lib/src/features/bootstrap/pubspec.dart
  packages/patrol_cli/lib/src/features/clean/clean_command.dart
  packages/patrol_cli/lib/src/features/doctor/doctor_command.dart
  packages/patrol_cli/lib/src/features/drive/drive_command.dart
  packages/patrol_cli/lib/src/features/drive/drive_command.freezed.dart
  packages/patrol_cli/lib/src/features/drive/flutter_test_runner.dart
  packages/patrol_cli/lib/src/features/drive/flutter_tool.dart
  packages/patrol_cli/lib/src/features/drive/platform/android_driver.dart
  packages/patrol_cli/lib/src/features/drive/platform/ios_driver.dart
  packages/patrol_cli/lib/src/features/run_commons/dart_defines_reader.dart
  packages/patrol_cli/lib/src/features/test/ios_test_backend.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/lib/src/features/update/update_command.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/command_runner_test.dart
  packages/patrol_cli/test/common/artifacts_repository_test.dart
  packages/patrol_cli/test/features/drive/drive_command_test.dart
  packages/patrol_cli/test/features/drive/flutter_test_runner_test.dart
  packages/patrol_cli/test/features/drive/flutter_tool_test.dart
  packages/patrol_cli/test/features/run_commons/dart_defines_reader_test.dart
  packages/patrol_cli/test/features/test/test_command_test.dart
  packages/patrol_cli/test/features/update/update_command_test.dart
  packages/patrol_cli/test/mocks.dart
Labels: package: patrol, package: patrol_cli

#924 Update logo
  docs.json
  docs/assets/favicon-dark.png
  docs/assets/favicon-light.png
Labels: docs

#925 Release 1.0 🎉
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#926 Fix documentation wrongly mentioning we're not 1.0
  README.md
  docs.json
  docs/cli-commands/bootstrap.mdx
  docs/cli-commands/clean.mdx
  docs/cli-commands/drive.mdx
  docs/index.mdx
Labels: docs

#927 Add promotial graphics to docs and main readme
  README.md
  docs/assets/promo.png
  docs/index.mdx
Labels: docs

#928 Fix typo in link anchor in CI docs
  docs/ci.mdx
Labels: docs

#940 Fix `flutter run` not working in example app
  packages/patrol/example/android/app/build.gradle
Labels: package: patrol

#939 Fix IndexOutOfBounds exception when waiting for native views on Android
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Labels: package: patrol

#941 patrol: bump version to 1.0.1
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#950 Add shell completion to `patrol_cli`
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#943 Add default timeout to `NativeAutomator.enterTextByIndex(int)`
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/example/integration_test/webview_all_test.dart
  packages/patrol/example/integration_test/webview_hackernews_test.dart
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol/example/integration_test/webview_login_test.dart
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
  packages/patrol/example/lib/main.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/lib/src/native/native_automator.dart
Labels: package: patrol

#956 Fix trying to reference non-existent job in `*-publish` workflows
  .github/workflows/adb-publish.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-publish.yaml
  packages/adb/CHANGELOG.md
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#958 Improve native automation docs
  docs/native/usage.mdx
Labels: docs

#959 Fix `--wait` argument preventing frames from being pumped
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
Labels: package: patrol

#960 Clean up `notifications_test.dart` in example app
  packages/patrol/example/integration_test/notifications_test.dart
Labels: package: patrol

#961 Clean up example app's tests
  .vscode/launch.json
  .vscode/settings.json
  docs/cli-commands/test.mdx
  packages/patrol/example/integration_test/android_app_test.dart
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/integration_test/notifications_test.dart
  packages/patrol/example/integration_test/open_app_test.dart
  packages/patrol/example/integration_test/open_quick_settings_test.dart
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/example/integration_test/permissions_many_test.dart
  packages/patrol/example/integration_test/service_airplane_mode_test.dart
  packages/patrol/example/integration_test/service_all_test.dart
  packages/patrol/example/integration_test/service_bluetooth_test.dart
  packages/patrol/example/integration_test/service_cellular_test.dart
  packages/patrol/example/integration_test/service_dark_mode_test.dart
  packages/patrol/example/integration_test/service_wifi_test.dart
  packages/patrol/example/integration_test/swipe_test.dart
  packages/patrol/example/integration_test/webview_all_test.dart
  packages/patrol/example/integration_test/webview_hackernews_test.dart
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol/example/integration_test/webview_login_test.dart
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/lib/location_screen.dart
  packages/patrol/example/lib/main.dart
  packages/patrol/example/lib/notifications_screen.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Labels: docs, package: patrol

#963 Fix tapOnNotification() not working on iPad simulator
  packages/patrol/CHANGELOG.md
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
Labels: package: patrol

#964 Don't print verbose Gradle output when test fails and `--verbose` is not passed
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
  packages/patrol_cli/lib/src/features/update/update_command.dart
Labels: package: patrol_cli

#970 PatrolBinding: clean up remainings
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/binding.dart
Labels: package: patrol

#978 patrol: bump version to 1.0.3
  .github/workflows/adb-prepare.yaml
  .github/workflows/adb-publish.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_cli-publish.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#979 Add links to methods Featury Parity page in the docs
  README.md
  docs/finders/overview.mdx
  docs/native/feature-parity.mdx
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/native/native_automator.dart
Labels: docs, package: patrol

#983 Add `--uninstall/--no-uninstall` flag to Patrol CLI
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/lib/src/features/test/test_command.freezed.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/features/test/test_command_test.dart
Labels: package: patrol_cli

#985 Add more code snippets to docs
  docs/index.mdx
  docs/native/overview.mdx
Labels: docs

#986 patrol: remove unused dependency on package:vm_service
  docs/native/overview.mdx
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
Labels: docs, package: patrol

#1002 Store shell completion in `$XDG_CONFIG_HOME`
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#989 patrol_cli: make it possible to define flavor per OS in pubspec.yaml
  packages/patrol_cli/lib/src/features/test/pubspec_reader.dart
  packages/patrol_cli/lib/src/features/test/test_command.dart
  packages/patrol_cli/lib/src/features/test/test_command.freezed.dart
  packages/patrol_cli/test/features/test/pubspec_reader_test.dart
  packages/patrol_cli/test/features/test/test_command_test.dart
Labels: package: patrol_cli

#998 Test Gradle setup on Windows
  .github/workflows/patrol-prepare.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/example/android/app/build.gradle
Labels: package: patrol
