Repository leancodepl/patrol, pull requests merged in 2023-03, with the labels that each got.

#1005 Make it possible to run x86-only iOS apps on simulator
  packages/patrol_cli/lib/src/features/test/ios_test_backend.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#1007 patrol_cli: bump version to 1.0.4
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#1006 Add `patrol build` command (Android-only for now)
  packages/patrol_cli/.gitignore
  packages/patrol_cli/lib/src/command_runner.dart
  packages/patrol_cli/lib/src/commands/build_command.dart
  packages/patrol_cli/lib/src/commands/build_command.freezed.dart
  packages/patrol_cli/lib/src/commands/devices_command.dart
  packages/patrol_cli/lib/src/commands/doctor_command.dart
  packages/patrol_cli/lib/src/commands/test_command.dart
  packages/patrol_cli/lib/src/commands/test_command.freezed.dart
  packages/patrol_cli/lib/src/commands/update_command.dart
  packages/patrol_cli/lib/src/features/devices/device.dart
  packages/patrol_cli/lib/src/features/devices/device_finder.dart
  packages/patrol_cli/lib/src/features/run_commons/constants.dart
  packages/patrol_cli/lib/src/features/run_commons/result.dart
  packages/patrol_cli/lib/src/features/run_commons/test_finder.dart
  packages/patrol_cli/lib/src/features/run_commons/test_runner.dart
  packages/patrol_cli/lib/src/features/test/android_test_backend.dart
  packages/patrol_cli/lib/src/features/test/ios_test_backend.dart
  packages/patrol_cli/lib/src/features/test/native_test_runner.dart
  packages/patrol_cli/lib/src/features/test/test_backend.dart
  packages/patrol_cli/test/fakes.dart
  packages/patrol_cli/test/features/run_commons/device_finder_test.dart
  packages/patrol_cli/test/features/test/ios_test_backend_test.dart
  packages/patrol_cli/test/features/test/test_command_test.dart
  packages/patrol_cli/test/fixtures.dart
Labels: package: patrol_cli

#1011 patrol_cli: bump version to 1.0.5
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/common/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#1012 run_android_testlab: use `patrol build`
  packages/patrol/example/run_android_testlab
Labels: package: patrol

#1034 patrol: minor formatting change in CHANGELOG.md and pubspec.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#952 Add support for `Selector.instance` on iOS
  .github/workflows/patrol-prepare.yaml
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/smokes/graceful_fail_test.dart
  packages/patrol/example/integration_test/webview_hackernews_test.dart
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Labels: package: patrol

#1042 Revert "Add support for `Selector.instance` on iOS (#952)"
  .github/workflows/patrol-prepare.yaml
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/smokes/graceful_fail_test.dart
  packages/patrol/example/integration_test/webview_hackernews_test.dart
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Labels: package: patrol

#1056 Release v1.0.6 of patrol and patrol_cli
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/check_versions
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1058 patrol_cli: bump version to 1.0.7
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#1064 Throw nice error when `patrol develop` is called without target
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/test/commands/update_test.dart
Labels: package: patrol_cli

#1069 Disable forwarding `q` during `flutter attach` and update changelog
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Labels: package: patrol_cli

#1073 Fix "error while disposing" when waiting for app to start on physical iOS device
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/ios/ios_deploy.dart
Labels: package: patrol_cli

#1062 SwiftPatrolPlugin: improve log messages
  packages/patrol/ios/Classes/SwiftPatrolPlugin.swift
Labels: package: patrol

#1074 Fix `patrol build` crashing
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build.dart
Labels: package: patrol_cli

#1072 Fix `tap()` not being able to tap on widget previously found by `scrollTo()`
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
  packages/patrol/test/patrol_tester_test.dart
  packages/patrol/test/smoke_test.dart
Labels: package: patrol

#1076 Fix xctestrun filename when scheme is not `Runner`
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
Labels: package: patrol_cli

#1093 Explicitly specify `appId` when running `flutter attach`
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Labels: package: patrol_cli

#1090 Infer iOS-specific build options
  docs/native/setup.mdx
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/test.freezed.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Labels: docs, package: patrol_cli

#1096 Fix App Store warnings about non-public selectors from `patrol.framework`
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/Errors.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolServer.swift
Labels: package: patrol

#1111 Fix xctestrun file not being found when no arch is present in the filename
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Labels: package: patrol_cli

#1110 Various documentation fixes
  docs/ci/overview.mdx
  docs/ci/platforms.mdx
  docs/cli-commands/develop.mdx
Labels: docs

#1118 adb: throw an exception if adb executable is not present
  packages/adb/CHANGELOG.md
  packages/adb/lib/src/adb.dart
  packages/adb/lib/src/exceptions.dart
  packages/adb/pubspec.yaml
Labels: package: adb

#1119 Fix `patrol test`/`patrol develop` being stuck on app installation when `adb` is not in $PATH
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#1120 patrol_cli: bump version to 1.1.2
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#1136 Delete bundled tests in
  docs/tips-and-tricks.mdx
  packages/patrol/example/integration_test/service_all_test.dart
  packages/patrol/example/integration_test/webview_all_test.dart
Labels: docs, package: patrol

#1137 Add `--exclude` flag to `patrol test`
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/test_finder.dart
  packages/patrol_cli/test/general/test_finder_test.dart
Labels: package: patrol_cli

#1141 Add docs for `waitUntilVisible()`
  docs/finders/usage.mdx
  packages/patrol/lib/src/custom_finders/exceptions.dart
Labels: docs, package: patrol

#1144 Add docs about `PatrolFinder.which()`
  docs/finders/usage.mdx
  packages/patrol/test/patrol_finder_test.dart
Labels: docs, package: patrol

#1156 Fix broken link in the docs
  docs/tips-and-tricks.mdx
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Labels: docs, package: patrol_cli

#1158 Remove suggestion to run tests in Xcode, which is unsupported
  docs/ci/platforms.mdx
  docs/native/setup.mdx
Labels: docs
