Repository leancodepl/patrol, pull requests merged in 2023-04, with the labels that each got.

#1157 Add analytics
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/base/fs.dart
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/devices.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/update.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
  packages/patrol_cli/test/commands/update_test.dart
  packages/patrol_cli/test/src/mocks.dart
Labels: package: patrol_cli

#1163 Tiny refactor to AutomatorServer.swift code
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
Labels: package: patrol

#1166 Add `title` frontmatter to all subpages
  docs/ci/firebase-test-lab.mdx
  docs/ci/overview.mdx
  docs/ci/platforms.mdx
  docs/cli-commands/build.mdx
  docs/cli-commands/develop.mdx
  docs/cli-commands/devices.mdx
  docs/cli-commands/doctor.mdx
  docs/cli-commands/test.mdx
  docs/cli-commands/update.mdx
  docs/effective-patrol.mdx
  docs/finders/advanced.mdx
  docs/finders/overview.mdx
  docs/finders/usage.mdx
  docs/getting-started.mdx
  docs/index.mdx
  docs/native/advanced.mdx
  docs/native/feature-parity.mdx
  docs/native/overview.mdx
  docs/native/setup.mdx
  docs/native/usage.mdx
  docs/tips-and-tricks.mdx
Labels: docs

#1169 Docs: explain that `patrol develop` is broken on physical iOS devices
  docs/cli-commands/develop.mdx
Labels: docs

#1172 Add demo video to `patrol develop`
  docs/cli-commands/develop.mdx
Labels: docs

#1173 Make `patrol update` also update `package:patrol` in pubspec
  packages/patrol_cli/lib/src/base/fs.dart
  packages/patrol_cli/lib/src/commands/update.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/commands/update_test.dart
Labels: package: patrol_cli

#1177 Remove `patrol update` also upgrading pub package
  packages/patrol_cli/lib/src/commands/update.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Labels: package: patrol_cli

#1182 Improve Google Analytics in CLI
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.lock
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#1178 Rewrite native test reporting to be simpler and consistent across platforms
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolPlugin.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolTestRunner.kt
  packages/patrol/ios/Classes/SwiftPatrolPlugin.swift
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
Labels: package: patrol, package: patrol_cli

#1196 Fix tests of `package:adb`
  packages/adb/lib/src/adb.dart
  packages/adb/lib/src/internals.dart
  packages/adb/test/adb_test.dart
Labels: package: adb

#1197 Don't ask to collect analytics if running on CI
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Labels: package: patrol_cli

#1201 Default to "Yes" when asking for telemetry
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Labels: package: patrol_cli

#1209 Replace link in docs to YouTube video showing Hot Restart in action
  docs/cli-commands/develop.mdx
Labels: docs

#1210 Fix deviceId not being passed to `flutter attach` call
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/test/crossplatform/flutter_tool_test.dart
Labels: package: patrol_cli

#1220 Bring back basic test reporting for bundled tests
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/RunDartTestResponseKt.kt
  packages/patrol/example/integration_test/bundled_test.dart
  packages/patrol/example/integration_test/clean_up_test.dart
  packages/patrol/example/integration_test/permissions/permissions_location_test.dart
  packages/patrol/example/integration_test/permissions/permissions_many_1_test.dart
  packages/patrol/example/integration_test/permissions/permissions_many_2_test.dart
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/example/integration_test/sign_in/sign_in_email_test.dart
  packages/patrol/example/integration_test/sign_in/sign_in_facebook_test.dart
  packages/patrol/example/integration_test/sign_in/sign_in_google_test.dart
  packages/patrol/example/integration_test/webview_leancode_test.dart
  packages/patrol/example/integration_test/webview_login_test.dart
  packages/patrol/example/integration_test/webview_stackoverflow_test.dart
  packages/patrol/ios/Classes/AutomatorServer/contracts.pb.swift
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
Labels: package: patrol

#1221 Fix 2 tests failing for stupid reasons
  packages/patrol/example/integration_test/bundled_test.dart
  packages/patrol/example/integration_test/clean_up_test.dart
  packages/patrol/example/integration_test/open_quick_settings_test.dart
  packages/patrol/example/integration_test/webview_hackernews_test.dart
Labels: package: patrol

#1223 `patrol`: release new dev version
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1224 Release new dev versions fix
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1227 Fix/prepare for dev release
  .github/workflows/patrol-prepare.yaml
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbenum.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1229 Fix a small typo
  packages/patrol/lib/src/native/patrol_app_service.dart
Labels: package: patrol

#1230 Release new dev version
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol
