Repository leancodepl/patrol, pull requests merged in 2023-08, with the labels that each got.

#1591 Use proper context in Runner
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
Labels: package: patrol

#1593 Fix android swipe (#1571)
  packages/patrol/lib/src/native/native_automator.dart
Labels: package: patrol

#1578 Added check of kIsWeb before usage of Platform / dart:io package
  packages/patrol/lib/src/common.dart
Labels: package: patrol

#1610 Add missing --use-orchestrator flag for Android runs on FTL
  docs/ci/firebase-test-lab.mdx
Labels: docs

#1622 Rename in andSettle deprecation message
  packages/patrol/lib/src/custom_finders/patrol_finder.dart
  packages/patrol/lib/src/custom_finders/patrol_tester.dart
Labels: package: patrol

#1623 Change location of generated iOS test results into `build/ios_results_$timestamp`
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Labels: package: patrol_cli

#1621 Add "integrations" docs section
  docs.json
  docs/getting-started/native.mdx
  docs/integrations/allure.mdx
  docs/integrations/browserstack.mdx
Labels: docs

#1632 Set up Melos
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-2.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
  .gitignore
  melos.yaml
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/lib/main.dart
  packages/patrol/example/lib/scrolling_screen.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol_cli/.gitignore
  packages/patrol_cli/pubspec.lock
  packages/patrol_finders/example/lib/main.dart
  packages/patrol_finders/example/lib/scrolling_screen.dart
  packages/patrol_finders/example/pubspec.yaml
  packages/patrol_finders/example/test/loading_screen_test.dart
  packages/patrol_finders/example/test/overlay_screen_test.dart
  packages/patrol_finders/example/test/scrolling_screen_test.dart
  packages/patrol_finders/example/test/selector_test.dart
  pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1633 Update README of patrol_finders
  README.md
  docs/assets/ios_runner_configs.png
  packages/patrol_finders/README.md
  packages/patrol_finders/example/README.md
Labels: docs

#1636 Fix/patrol cli/allow for xctestplans
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Labels: package: patrol_cli

#1639 Minor docs fixes
  docs/getting-started/custom-finders.mdx
  docs/getting-started/getting-started.mdx
  docs/getting-started/native.mdx
Labels: docs

#1638 Allow for disabling entering `\n` after every `enterText` on iOS
  contracts.proto
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/EnterTextRequestKt.kt
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.pb.swift
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbenum.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
  packages/patrol/lib/src/native/native_automator.dart
Labels: package: patrol

#1643 patrol: bump version to 2.2.3
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1665 Docs/rework getting started
  docs.json
  docs/ci/firebase-test-lab.mdx
  docs/getting-started.mdx
  docs/getting-started/custom-finders.mdx
  docs/getting-started/getting-started.mdx
  docs/getting-started/native.mdx
  docs/integrations/allure.mdx
  packages/patrol_cli/README.md
Labels: docs, package: patrol_cli
