Repository leancodepl/patrol, pull requests merged in 2023-10, with the labels that each got.

#1762 Add info about not finishing
  docs/getting-started.mdx
Labels: docs

#1733 Add support for ios11 and ios12
  packages/patrol/example/ios/Podfile
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/ios/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/ios/patrol.podspec
  packages/patrol_gen/lib/src/generators/ios/ios_telegraph_server_generator.dart
  packages/patrol_gen/lib/src/generators/ios/ios_url_session_client_generator.dart
Labels: package: patrol

#1764 patrol: bump version to 2.4.0-dev.1
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1778 update outdated docs of the patrol build command
  docs/cli-commands/build.mdx
Labels: docs

#1782 Change kotlinx.serialization to Gson
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServerFilters.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PatrolAppServiceClient.kt
  packages/patrol_gen/lib/src/generators/android/android_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/android/android_http4k_client_generator.dart
  packages/patrol_gen/lib/src/generators/android/android_http4k_server_generator.dart
Labels: package: patrol

#1792 Fix docs directory structure that caused links to be broken
  docs.json
  docs/finders/advanced.mdx
  docs/finders/finders-setup.mdx
  docs/finders/overview.mdx
  docs/finders/usage.mdx
  docs/getting-started.mdx
  docs/index.mdx
  docs/native/advanced.mdx
  docs/native/feature-parity.mdx
  docs/native/overview.mdx
  docs/native/usage.mdx
Labels: docs

#1802 patrol: bump version to 2.3.1
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1798 Rephrase docs and READMEs
  README.md
  docs.json
  docs/index.mdx
  packages/patrol/README.md
Labels: docs, package: patrol

#1797 Patrol CLI: fix generated test bundle being garbled on Windows
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/test_bundler.dart
Labels: package: patrol_cli

#1803 patrol_cli: bump version to 2.2.1
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#1721 Add support for basic test lifecycle callbacks
  dev_docs/GUIDE.md
  packages/patrol/CHANGELOG.md
  packages/patrol/example/integration_test/callbacks_test.dart
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/extensions.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1811 Provide redirects for link changes from 2138733
  docs/patrol/finders/advanced.mdx
  docs/patrol/finders/finders-setup.mdx
  docs/patrol/finders/overview.mdx
  docs/patrol/finders/usage.mdx
  docs/patrol/native/advanced.mdx
  docs/patrol/native/feature-parity.mdx
  docs/patrol/native/overview.mdx
  docs/patrol/native/usage.mdx
Labels: docs

#1810 patrol_gen: add support for generic Maps
  packages/patrol/ios/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol_gen/lib/src/generators/android/android_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/android/android_http4k_client_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/dart/dart_shelf_server_generator.dart
  packages/patrol_gen/lib/src/generators/ios/ios_contracts_generator.dart
  packages/patrol_gen/lib/src/generators/ios/ios_url_session_client_generator.dart
  packages/patrol_gen/lib/src/resolve_schema.dart
  packages/patrol_gen/lib/src/schema.dart
Labels: package: patrol

#1830 Release patrol 2.4.0-dev.4 and patrol_cli 2.3.0-dev.1
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1817 Provide redirects for link changes from #1792" (2nd take)
  docs/patrol/finders/advanced.mdx
  docs/patrol/finders/finders-setup.mdx
  docs/patrol/finders/overview.mdx
  docs/patrol/finders/usage.mdx
  docs/patrol/native/advanced.mdx
  docs/patrol/native/feature-parity.mdx
  docs/patrol/native/overview.mdx
  docs/patrol/native/usage.mdx
Labels: docs

#1832 Fix the authors of emulator.wtf in the docs
  docs/ci/platforms.mdx
Labels: docs

#1833 Fixed typo in test_bundler.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Labels: package: patrol_cli

#1836 Update the way app is pumped in tests, fix outdated info in docs
  docs/getting-started.mdx
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/lib/main.dart
Labels: docs, package: patrol
