Repository leancodepl/patrol, pull requests merged in 2023-09, with the labels that each got.

#1670 Remove nativeAutomation deprecation
  packages/patrol/lib/src/common.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Labels: package: patrol, package: patrol_cli

#1658 Docs/patrol finders
  docs.json
  docs/getting-started.mdx
  docs/index.mdx
  docs/patrol-finders-release.mdx
  docs/patrol/finders/advanced.mdx
  docs/patrol/finders/finders-setup.mdx
  docs/patrol/finders/overview.mdx
  docs/patrol/finders/usage.mdx
  docs/patrol/native/advanced.mdx
  docs/patrol/native/feature-parity.mdx
  docs/patrol/native/overview.mdx
  docs/patrol/native/usage.mdx
Labels: docs

#1671 Release new versions (patrol 2.2.4, patrol_cli 2.1.3)
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1634 Add support for Dart-side `group()`s
  .github/workflows/patrol-prepare.yaml
  contracts.proto
  dev/cli_tests/patrol_develop_test.dart
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartGroupEntryKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestCaseKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/DartTestGroupKt.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/ListDartTestsResponseKt.kt
  packages/patrol/android/src/test/kotlin/pl/leancode/patrol/ContractsExtensionsTest.kt
  packages/patrol/example/integration_test/internal/README
  packages/patrol/example/integration_test/internal/group_test.dart
  packages/patrol/example/integration_test/open_app_test.dart
  packages/patrol/example/integration_test/permissions/notifications_test.dart
  packages/patrol/example/integration_test/permissions/permissions_location_test.dart
  packages/patrol/example/integration_test/permissions/permissions_many_test.dart
  packages/patrol/example/integration_test/swipe_test.dart
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/patrol/example/ios/RunnerTests/RunnerTests.swift
  packages/patrol/ios/Classes/AutomatorServer/contracts.pb.swift
  packages/patrol/ios/Classes/PatrolAppServiceClient.swift
  packages/patrol/ios/Classes/PatrolIntegrationTestRunner.h
  packages/patrol/ios/Classes/PatrolUtils.h
  packages/patrol/ios/Classes/PatrolUtils.m
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/extensions.dart
  packages/patrol/lib/src/native/contracts/contracts.pb.dart
  packages/patrol/lib/src/native/contracts/contracts.pbenum.dart
  packages/patrol/lib/src/native/contracts/contracts.pbjson.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol/test/internals_test.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Labels: package: patrol, package: patrol_cli

#1686 Release patrol 2.3.0-dev.1, patrol_cli 2.2.0-dev.1
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1694 Uninstall test runner app when flavor is present
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Labels: package: patrol_cli

#1698 Fix `grantPermissionOnlyThisTime()` not working on Android <11
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/example/integration_test/permissions_location_test.dart
  packages/patrol/lib/src/native/native_automator.dart
Labels: package: patrol

#1700 Release patrol 2.2.5, patrol_cli 2.1.4
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1704 Release new dev versions
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1705 Feature/switch ios server to telegraph
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/ios/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/PatrolServer.swift
  packages/patrol/ios/patrol.podspec
  packages/patrol_gen/lib/src/generators/ios/ios_generator.dart
  packages/patrol_gen/lib/src/generators/ios/ios_telegraph_server_generator.dart
Labels: package: patrol

#1709 Replace HTTP server
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol/example/android/app/build.gradle
Labels: package: patrol

#1710 `packagingOptions` remove unneeded lines
  packages/patrol/example/android/app/build.gradle
Labels: package: patrol

#1711 Use OkHttp client in instrumentation app
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/PatrolAppServiceClient.kt
  packages/patrol/example/android/app/build.gradle
  packages/patrol_gen/lib/src/generators/android/android_http4k_client_generator.dart
Labels: package: patrol

#1719 Add missing label
  .cirrus.yml
Labels: cirrusci

#1731 Fix test name label blocking hit testing
  packages/patrol/lib/src/binding.dart
Labels: package: patrol

#1734 Release new dev versions
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1739 patrol_cli: bump version to 2.1.5
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#1753 Add a workaround for long tests crashing Android instrumentation
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/integration_test/internal/group_test.dart
  packages/patrol/example/integration_test/long_name_test.dart
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/extensions.dart
  packages/patrol/lib/src/global_state.dart
  packages/patrol/test/internals_test.dart
Labels: package: patrol

#1756 Fix and update CI workflows
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-2.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  packages/patrol/example/integration_test/example_test.dart
  packages/patrol/example/integration_test/internal/long_name_test.dart
  packages/patrol/example/run_ios_local
  packages/patrol/example/run_ios_testlab
Labels: package: patrol

#1758 Release patrol 2.3.0, patrol_cli 2.2.0
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli
