Repository leancodepl/patrol, pull requests merged in 2023-11, with the labels that each got.

#1845 Parse dart defines with comma
  packages/patrol_cli/lib/src/dart_defines_reader.dart
  packages/patrol_cli/test/general/dart_defines_reader_test.dart
Labels: package: patrol_cli

#1853 patrol: bump version to 2.3.2
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1851 Merge master to develop
  docs/ci/platforms.mdx
  docs/getting-started.mdx
  docs/patrol/finders/advanced.mdx
  docs/patrol/finders/finders-setup.mdx
  docs/patrol/finders/overview.mdx
  docs/patrol/finders/usage.mdx
  docs/patrol/native/advanced.mdx
  docs/patrol/native/feature-parity.mdx
  docs/patrol/native/overview.mdx
  docs/patrol/native/usage.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/lib/main.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/dart_defines_reader.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/test/general/dart_defines_reader_test.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/test/patrol_finder_test.dart
Labels: docs, package: patrol, package: patrol_cli

#1854 bump patrol to 2.4.0-dev.6, patrol_cli to 2.3.0-dev.2
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1861 Fix open_app_test.dart
  packages/patrol/example/integration_test/open_app_test.dart
Labels: package: patrol

#1873 Update getting-started.mdx
  docs/getting-started.mdx
Labels: docs

#1890 docs: fix typo in advanced finders
  docs/finders/advanced.mdx
Labels: docs

#1888 Accept dynamic functions instead of Futures in lifecycle callbacks
  packages/patrol/lib/src/common.dart
Labels: package: patrol

#1891 Remove concurrency from iOS code
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/ElementTypeUtils.swift
Labels: package: patrol

#1882 Remove `patrol`'s dependency on `integration test` plugin
  packages/patrol/example/pubspec.yaml
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1892 Remove deprecated parameters from `patrolTest`
  packages/patrol/example/integration_test/common.dart
  packages/patrol/example/integration_test/internal/group_test.dart
  packages/patrol/example/integration_test/permissions/permissions_location_test.dart
  packages/patrol/example/integration_test/permissions/permissions_many_test.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/patrol_integration_tester.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/lib/src/custom_finders/utils.dart
  packages/patrol_finders/test/patrol_tester_test.dart
  packages/patrol_finders/test/smoke_test.dart
Labels: package: patrol

#1902 Post release fixes
  .github/workflows/patrol-publish.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1903 adb: clean up and update packages
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
Labels: package: adb

#1904 Update Patrol CLI's dependencies
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/logger.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Labels: package: patrol_cli, cirrusci

#1909 Prepare for Flutter 3.16.x
  .cirrus.yml
  .github/workflows/adb-prepare.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/patrol_finders-publish.yaml
  .github/workflows/patrol_gen-prepare.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
  packages/patrol/example/integration_test/analysis_options.yaml
  packages/patrol/example/integration_test/swipe_test.dart
  packages/patrol/example/lib/notifications_screen.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
  packages/patrol/test/analysis_options.yaml
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_devtools_extension/pubspec.yaml
  packages/patrol_finders/example/pubspec.yaml
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/pubspec.yaml
  packages/patrol_gen/pubspec.lock
  packages/patrol_gen/pubspec.yaml
Labels: package: patrol, package: patrol_cli, cirrusci

#1910 Update docs for v3
  docs.json
  docs/cli-commands/build.mdx
  docs/cli-commands/test.mdx
  docs/patrol-finders-release.mdx
  docs/v2.mdx
  docs/v3.mdx
Labels: docs

#1911 Fix/cli disable completion
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/README.md
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#1912 Release new versions
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
Labels: package: patrol_cli

#1913 fix tags in patrol and patrol_cli
  packages/patrol/pubspec.yaml
  packages/patrol_finders/pubspec.yaml
Labels: package: patrol

#1914 Release new versions
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#1917 Add screenshots to `pubspec.yaml` of user-facing packages
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol/screenshots/logo.png
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/screenshots/logo.png
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
  packages/patrol_finders/screenshots/logo.png
Labels: package: patrol, package: adb, package: patrol_cli

#1919 Fix/example app android 14
  .github/workflows/test-android-device.yaml
  packages/patrol/example/android/app/src/main/AndroidManifest.xml
  packages/patrol/example/integration_test/permissions/notifications_test.dart
  packages/patrol/example/lib/notifications_screen.dart
Labels: package: patrol

#1922 Add EOL to AndroidManifest.xml
  packages/patrol/example/android/app/src/main/AndroidManifest.xml
Labels: package: patrol

#1927 Implement `$.native.swipe()` on iOS
  .github/workflows/patrol-prepare.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
  dev/cli_tests/.gitignore
  dev/cli_tests/pubspec.lock
  dev/cli_tests/pubspec.yaml
  docs/native/feature-parity.mdx
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/example/integration_test/swipe_test.dart
  packages/patrol/ios/Classes/AutomatorServer/Automator.swift
  packages/patrol/ios/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/ios/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/pubspec.yaml
  schema.dart
Labels: docs, package: patrol

#1933 Adapt docs for Patrol 3.0
  README.md
  docs/effective-patrol.mdx
  docs/getting-started.mdx
  docs/native/advanced.mdx
  docs/native/overview.mdx
  packages/patrol/README.md
Labels: docs, package: patrol

#1948 Use custom lints
  .github/workflows/adb-prepare.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/patrol_gen-prepare.yaml
  .gitignore
  packages/adb/analysis_options.yaml
  packages/adb/pubspec.yaml
  packages/patrol/analysis_options.yaml
  packages/patrol/example/integration_test/analysis_options.yaml
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
  packages/patrol/pubspec.yaml
  packages/patrol_cli/analysis_options.yaml
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/analysis_options.yaml
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_devtools_extension/analysis_options.yaml
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/patrol_service_extension_api.dart
  packages/patrol_devtools_extension/pubspec.yaml
  packages/patrol_finders/analysis_options.yaml
  packages/patrol_finders/example/test/analysis_options.yaml
  packages/patrol_finders/test/analysis_options.yaml
  packages/patrol_finders/test/patrol_finder_test.dart
  packages/patrol_finders/test/patrol_tester_test.dart
  packages/patrol_finders/test/smoke_test.dart
  packages/patrol_gen/analysis_options.yaml
  packages/patrol_gen/pubspec.yaml
Labels: package: patrol, package: adb, package: patrol_cli

#1963 fix ios example app test
  packages/patrol/example/lib/cubit/auth_cubit.dart
Labels: package: patrol

#1967 Implement patrolSetUp and patrolTearDown
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
Labels: package: patrol

#1968 patrol: bump version to 3.1.0
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol
