Repository leancodepl/patrol, pull requests merged in 2024-07, with the labels that each got.

#2250 Hint how to clear the package data in firebase cloud lab
  docs/ci/firebase-test-lab.mdx
Labels: docs

#2253 Use java from flutter doctor
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/compatibility_checker.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#2265 Fix checking java version
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli, cirrusci

#2259 Implement toggling location on Android
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator.yaml
  dev/e2e_app/integration_test/service_location_test.dart
  docs/native/feature-parity.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  schema.dart
Labels: docs, package: patrol

#2275 Fix opening settings app with clean state on iOS
  packages/patrol/CHANGELOG.md
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Labels: package: patrol
