Repository leancodepl/patrol, pull requests merged in 2024-01, with the labels that each got.

#2040 Add compatibility table to docs
  docs.json
  docs/compatibility-table.mdx
  docs/getting-started.mdx
  packages/patrol_cli/lib/src/base/constants.dart
Labels: docs, package: patrol_cli

#2048 Do not open devtools by default
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop.dart
Labels: package: patrol_cli, cirrusci

#2049 Prepare patrol_cli 2.6.0 and patrol 3.4.0 version release
  docs/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
Labels: docs, package: patrol, package: patrol_cli

#2050 Update versions in pubspec.yaml files
  packages/patrol/pubspec.yaml
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#2042 Feature/native methods timeout
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  dev/e2e_app/pubspec.lock
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/example/ios/Runner/AppDelegate.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native_automator.dart
  schema.dart
Labels: package: patrol, cirrusci

#2054 Change link do Discord in getting started
  docs/getting-started.mdx
Labels: docs

#2053 Feature/native tap at coordinates
  dev/e2e_app/integration_test/tap_at_test.dart
  docs/native/feature-parity.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  schema.dart
Labels: docs, package: patrol

#2061 Fix passing port when patrol build command run
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#2070 Add 2 cases to FAQ
  docs/getting-started.mdx
Labels: docs

#2072 Fix `enterText` not being able to interact with other than first textfield on Android
  dev/e2e_app/integration_test/webview_hackernews_test.dart
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Labels: package: patrol

#2078 Prepare patrol 3.5.0 to release
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#2083 Prepare patrol_cli 2.6.2 to release
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli
