Repository leancodepl/patrol, pull requests merged in 2024-12, with the labels that each got.

#2439 Patrol Basics Tutorial
  docs.json
  docs/write-your-first-test.mdx
Labels: docs

#2442 Fix redirect
  docs/getting-started.mdx
Labels: docs

#2437 Remove whitespace replacement from Android runner
  docs/compatibility-table.mdx
  docs/documentation/compatibility-table.mdx
  docs/documentation/index.mdx
  docs/getting-started.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/pubspec.yaml
Labels: docs, package: patrol, package: patrol_cli

#2443 Bring back redirect pages
  docs/compatibility-table.mdx
  docs/getting-started.mdx
Labels: docs

#2444 Fix redirects v2
  docs/write-your-first-test.mdx
Labels: docs

#2446 Fix typo in test_bunder.dart
  packages/patrol_cli/lib/src/test_bundler.dart
Labels: package: patrol_cli

#2447 Add LambdaTest integration (from #2424)
  docs.json
  docs/documentation/integrations/lambdatest.mdx
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/LambdaTestPatrolJUnitRunner.java
Labels: docs, package: patrol

#2450 Browserstack Integration: fix outdated env var
  docs/integrations/browserstack.mdx
Labels: docs

#2456 Fix debugging instruction
  docs/debugging-patrol-tests.mdx
  docs/documentation/debugging-patrol-tests.mdx
Labels: docs

#2468 Bump patrol packages
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#2451 Add info on generating FLUTTER_TARGET after removal
  docs/documentation/index.mdx
  docs/documentation/native/setup.mdx
Labels: docs
