Repository leancodepl/patrol, pull requests merged in 2024-03, with the labels that each got.

#2142 Add supported platforms page
  docs.json
  docs/native/feature-parity.mdx
  docs/supported-platforms.mdx
Labels: docs

#2145 Add clearing textfield before entering text
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Labels: package: patrol

#2132 Task/native selectors
  .github/workflows/patrol-prepare.yaml
  .github/workflows/prepare-e2e_app.yaml
  dev/e2e_app/integration_test/permissions/notifications_test.dart
  dev/e2e_app/integration_test/permissions/permissions_location_test.dart
  dev/e2e_app/integration_test/webview_hackernews_test.dart
  dev/e2e_app/integration_test/webview_leancode_test.dart
  dev/e2e_app/integration_test/webview_stackoverflow_test.dart
  gen_from_schema
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/ContractsExtensions.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/UITreeUtils.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/ElementTypeUtils.swift
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/macos/Podfile.lock
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/custom_finders/patrol_integration_tester.dart
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/pubspec.yaml
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  packages/patrol_devtools_extension/lib/api/patrol_service_extension_api.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_inspector.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_view_details.dart
  packages/patrol_devtools_extension/lib/native_inspector/native_view_hierarchy.dart
  packages/patrol_devtools_extension/lib/native_inspector/node.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/android_node.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/ios_node.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/native_view_node.dart
  packages/patrol_devtools_extension/lib/native_inspector/nodes/node.dart
  packages/patrol_devtools_extension/lib/patrol_devtools_extension.dart
  schema.dart
Labels: package: patrol

#2154 Support app-server-port and test-server-port options on Android
  packages/patrol/CHANGELOG.md
  packages/patrol/android/build.gradle
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolAppServiceClient.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolServer.kt
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Labels: package: patrol, package: patrol_cli

#2156 Prepare release
  docs/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: docs, package: patrol, package: patrol_cli

#2158 Fix/clear and enter text
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Labels: package: patrol

#2124 Flutter command arg
  docs/getting-started.mdx
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/devices.dart
  packages/patrol_cli/lib/src/commands/doctor.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/commands/update.dart
  packages/patrol_cli/lib/src/compatibility_checker.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
  packages/patrol_cli/lib/src/devices.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
  packages/patrol_cli/lib/src/runner/flutter_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/analytics/analytics_test.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
  packages/patrol_cli/test/crossplatform/flutter_tool_test.dart
  packages/patrol_cli/test/src/mocks.dart
Labels: docs, package: patrol_cli

#2163 Write debug instruction
  docs.json
  docs/debugging-patrol-tests.mdx
Labels: docs

#2166 Prepare release
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli
