Repository leancodepl/patrol, pull requests merged in 2024-11, with the labels that each got.

#2367 Clear permissions between tests on iOS
  .github/workflows/test-ios-simulator.yaml
  dev/e2e_app/integration_test/permissions/clear_permissions_test.dart
  dev/e2e_app/integration_test/permissions/deny_many_permissions_twice_test.dart
  dev/e2e_app/integration_test/permissions/permissions_many_test.dart
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/ios/Runner/AppDelegate.swift
  dev/e2e_app/lib/permissions_screen.dart
  packages/patrol/CHANGELOG.md
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Labels: package: patrol, package: patrol_cli

#2392 Prepare patrol 3.12.0 and patrol_cli 3.3.0 for release
  docs/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/pubspec.yaml
Labels: docs, package: patrol, package: patrol_cli

#2397 Add logcat method to adb
  packages/adb/CHANGELOG.md
  packages/adb/lib/src/adb.dart
  packages/adb/pubspec.yaml
Labels: package: adb

#2394 Use new notification tile identifier for iOS 18
  packages/patrol/CHANGELOG.md
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Labels: package: patrol

#2402 Bump patrol log versions
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#2403 Change patrol version
  packages/patrol/pubspec.yaml
Labels: package: patrol

#2408 fix: recover macos functionality
  packages/patrol/CHANGELOG.md
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
Labels: package: patrol

#2407 Add column with min Flutter version to compatibility version
  docs/compatibility-table.mdx
Labels: docs

#2412 Upgrade patrol_finders in patrol and enable printing logs in finders
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
  packages/patrol/pubspec.yaml
Labels: package: patrol

#2421 Add flag to not clear test steps
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol, package: patrol_cli

#2429 Pass config to patrol_log
  docs/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/common.dart
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/pubspec.yaml
Labels: docs, package: patrol, package: patrol_cli

#2425 Add android flavor to dartDefines.
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Labels: package: patrol_cli

#2432 Add docs about logs
  docs.json
  docs/logs-announcement.mdx
  docs/logs.mdx
Labels: docs

#2435 Update about page
  docs.json
  docs/assets/patrol_lncd.png
  docs/index.mdx
Labels: docs

#2436 Add language to code blocks in logs.mdx
  docs/logs.mdx
Labels: docs
