Repository leancodepl/patrol, pull requests merged in 2024-09, with the labels that each got.

#2331 Expand invalid target error message to mention file suffix
  packages/patrol_cli/lib/src/test_finder.dart
  packages/patrol_cli/test/general/test_finder_test.dart
Labels: package: patrol_cli

#2337 Add a warning about coverage not working on macos
  docs/cli-commands/test.mdx
Labels: docs

#2338 Add version compatibility notes to changelogs
  packages/patrol/CHANGELOG.md
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
  packages/patrol_cli/CHANGELOG.md
Labels: package: patrol, package: patrol_cli
