Repository leancodepl/patrol, pull requests merged in 2024-06, with the labels that each got.

#2123 Try closing system dialog when disabling wifi on iOS
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Labels: package: patrol

#2214 Prepare patrol 3.7.3 for release
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#2217 Change FLUTTER_TARGET related hints in FAQ
  docs/getting-started.mdx
Labels: docs

#2219 Add openUrl method to native automator
  dev/e2e_app/android/app/src/main/AndroidManifest.xml
  dev/e2e_app/integration_test/deep_link_test.dart
  dev/e2e_app/integration_test/external_link_test.dart
  dev/e2e_app/ios/Flutter/AppFrameworkInfo.plist
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/e2e_app/ios/Runner/Info.plist
  dev/e2e_app/lib/applink_screen.dart
  dev/e2e_app/lib/main.dart
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  dev/e2e_app/macos/Podfile.lock
  dev/e2e_app/macos/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  dev/e2e_app/macos/Runner/Info.plist
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  docs/native/feature-parity.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/android/.gitignore
  packages/patrol/android/gradle/wrapper/gradle-wrapper.properties
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/pubspec.yaml
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  packages/patrol_devtools_extension/pubspec.yaml
  schema.dart
Labels: docs, feature, package: patrol

#2223 Add press volume up and down actions
  README.md
  dev/e2e_app/integration_test/volume_test.dart
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  schema.dart
Labels: feature, package: patrol

#2226 Fix ios simulator workflows
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
Labels: bug

#2225 Fix ios simulator build
  dev/e2e_app/integration_test/volume_test.dart
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Errors.swift
Labels: package: patrol

#2229 Add links to api reference in menu
  docs.json
Labels: docs

#2236 Add privacy manifest to iOS plugin code
  packages/patrol/CHANGELOG.md
  packages/patrol/darwin/Classes/Telegraph/Protocols/HTTP/Handlers/HTTPFileHandler.swift
  packages/patrol/darwin/Classes/Telegraph/Protocols/HTTP/Routing/Server+Routing.swift
  packages/patrol/darwin/Resources/PrivacyInfo.xcprivacy
  packages/patrol/darwin/patrol.podspec
Labels: package: patrol

#2235 Don't use a system proxy
  packages/patrol/CHANGELOG.md
  packages/patrol/darwin/Classes/AutomatorServer/PatrolAppServiceClient.swift
Labels: package: patrol

#2233 Fix complete breakage of MacOS automations introduced in #2219
  docs/native/feature-parity.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
Labels: docs, package: patrol

#2232 Add dart define from file
  README.md
  dev/e2e_app/defines_1.json
  dev/e2e_app/defines_2.json
  dev/e2e_app/defines_3.env
  dev/e2e_app/integration_test/define_test.dart
  dev/e2e_app/lib/main.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/dart_define_utils.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/dart_defines_reader.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Labels: package: patrol_cli

#2239 Release patrol_cli 2.8.0
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#2240 Prepare to release patrol 3.9.0
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#2241 Update devices.mdx
  docs/cli-commands/devices.mdx
Labels: docs

#2243 Fix parsing non string values from --dart-define-from-file
  dev/e2e_app/defines_2.json
  dev/e2e_app/integration_test/define_test.dart
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/lib/main.dart
  dev/e2e_app/pubspec.lock
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/commands/dart_define_utils.dart
  packages/patrol_cli/pubspec.yaml
Labels: bug, package: patrol_cli

#2244 Fix comment about using proper classname in MainActivityTest.java
  docs/getting-started.mdx
Labels: docs
