Repository leancodepl/patrol, pull requests merged in 2024-08, with the labels that each got.

#2278 Add native skip
  dev/e2e_app/integration_test/android_app_test.dart
  dev/e2e_app/integration_test/macos/macos_app_test.dart
  dev/e2e_app/integration_test/open_app_test.dart
  dev/e2e_app/macos/Podfile.lock
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/test/kotlin/pl/leancode/patrol/ContractsExtensionsTest.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/PatrolAppServiceClient.swift
  packages/patrol/darwin/Classes/ObjCPatrolAppServiceClient.swift
  packages/patrol/darwin/Classes/PatrolIntegrationTestIosRunner.h
  packages/patrol/darwin/Classes/PatrolIntegrationTestMacosRunner.h
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/test/internals_test.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Labels: docs, package: patrol, package: patrol_cli, platform: ios, platform: android, cirrusci, platform: macos

#2286 Add tags and exclude-tags support
  dev/e2e_app/integration_test/common.dart
  dev/e2e_app/integration_test/example_test.dart
  dev/e2e_app/pubspec.lock
  docs/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/test/kotlin/pl/leancode/patrol/ContractsExtensionsTest.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/pubspec.yaml
  packages/patrol/test/internals_test.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/test_bundler.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/test_bundler_test.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Labels: docs, package: patrol, package: patrol_cli

#2292 Add tags docs
  docs/cli-commands/test.mdx
Labels: docs

#2293 Create android config in patrol android_test_backend
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
Labels: package: patrol_cli

#2297 Add target build apk command
  packages/patrol_cli/lib/src/android/android_test_backend.dart
Labels: package: patrol_cli

#2305 Fix iOS native swipe
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Labels: package: patrol

#2312 EnterText TapLocation iOS
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Labels: package: patrol

#2320 Fix checking java version
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/compatibility_checker.dart
Labels: package: patrol_cli

#2302 No throw error on select already selected location
  packages/patrol/CHANGELOG.md
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Labels: package: patrol

#2300 Change java path parsing
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/base/extensions/completer.dart
  packages/patrol_cli/lib/src/compatibility_checker.dart
Labels: package: patrol_cli

#2325 prepare release
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli
