Repository leancodepl/patrol, pull requests merged in 2024-04, with the labels that each got.

#2175 [docs]: fix front matter formatting
  docs/debugging-patrol-tests.mdx
Labels: docs

#2176 fix: misleading error message
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
Labels: package: patrol

#2177 Fix changing ports for macOS testing
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Labels: package: patrol_cli

#2165 feat: Support customization of doubleTap delay
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  schema.dart
Labels: package: patrol

#1822 Getting started: add docs to be aware of ProGuard
  docs/getting-started.mdx
Labels: docs

#2185 Update overview.mdx
  docs/native/overview.mdx
Labels: docs
