Repository leancodepl/patrol, pull requests merged in 2024-02, with the labels that each got.

#2092 [patrol_cli] fix(compatibility_checker.dart): it get's stuck when it can't find patrol
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#2093 Add link to YT tutorial
  docs/getting-started.mdx
Labels: docs

#2030 Make more `Selector` properties work on iOS
  dev/e2e_app/integration_test/common.dart
  dev/e2e_app/ios/RunnerTests/RunnerTests.swift
  dev/e2e_app/lib/main.dart
  dev/e2e_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/MacOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol_gen/lib/src/generators/darwin/darwin_contracts_generator.dart
Labels: package: patrol, cirrusci

#2112 Fix handling denying Android permissions when invoked second time
  dev/e2e_app/integration_test/permissions/deny_many_permissions_twice_test.dart
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
Labels: package: patrol

#2113 Prepare release
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Labels: package: patrol

#2114 Fix reporting fail cause to native on ios in release mode
  dev/e2e_app/pubspec.lock
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/binding.dart
  packages/patrol/pubspec.yaml
Labels: package: patrol
