Repository leancodepl/patrol, pull requests merged in 2024-10, with the labels that each got.

#2348 add android setup documentation to readme file
  docs/getting-started.mdx
Labels: docs

#2342 Fix `patrol` & `patrol_cli` changelogs formatting
  packages/patrol/CHANGELOG.md
  packages/patrol_cli/CHANGELOG.md
Labels: package: patrol, package: patrol_cli

#2361 fix: Modify test names inside PatrolJUnitRunner to remove spaces
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/PatrolJUnitRunner.java
  packages/patrol/pubspec.yaml
Labels: package: patrol

#2351 Automatically find project's root directory when in subfolders
  dev/e2e_app/ios/Podfile
  dev/e2e_app/ios/Podfile.lock
  packages/patrol/example/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
  packages/patrol_cli/lib/src/coverage/coverage_tool.dart
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_cli/lib/src/macos/macos_test_backend.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/lib/src/test_finder.dart
  packages/patrol_cli/test/general/test_finder_test.dart
  packages/patrol_cli/test/ios/ios_test_backend_test.dart
Labels: package: patrol, package: patrol_cli

#2371 Bump min sdk to 3.5.0 in all packages
  .cirrus.yml
  .github/workflows/adb-prepare.yaml
  .github/workflows/patrol-check-semver.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-check-semver.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/patrol_finders-publish.yaml
  .github/workflows/patrol_gen-prepare.yaml
  .github/workflows/prepare-e2e_app.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
  .github/workflows/test-macos.yaml
  dev/cli_tests/pubspec.yaml
  dev/e2e_app/lib/main.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/adb/lib/adb.dart
  packages/adb/pubspec.yaml
  packages/patrol/example/analysis_options.yaml
  packages/patrol/example/lib/ui/components/scaffold.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/lib/patrol.dart
  packages/patrol/lib/src/binding.dart
  packages/patrol/lib/src/common.dart
  packages/patrol/lib/src/devtools_service_extensions/devtools_service_extensions.dart
  packages/patrol/lib/src/global_state.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/patrol_app_service.dart
  packages/patrol/pubspec.yaml
  packages/patrol/test/internals_test.dart
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_devtools_extension/pubspec.yaml
  packages/patrol_finders/example/analysis_options.yaml
  packages/patrol_finders/example/pubspec.yaml
  packages/patrol_finders/lib/patrol_finders.dart
  packages/patrol_finders/lib/src/common.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/pubspec.yaml
  packages/patrol_finders/test/patrol_finder_test.dart
  packages/patrol_finders/test/patrol_tester_test.dart
  packages/patrol_gen/pubspec.lock
  packages/patrol_gen/pubspec.yaml
Labels: package: patrol, package: adb, package: patrol_cli, cirrusci

#2377 Prepare changelogs
  docs/compatibility-table.mdx
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Labels: docs, package: patrol, package: adb, package: patrol_cli
