Repository leancodepl/patrol, pull requests merged in 2025-01, with the labels that each got.

#2477 Update firebase-test-lab.mdx
  docs/documentation/ci/firebase-test-lab.mdx
Labels: docs

#2481 Remove exception from step entry
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/lib/src/entries/entry.g.dart
  packages/patrol_log/lib/src/entries/step_entry.dart
Labels: package: patrol

#2488 Bump compile sdk and gradle in patrol to make it work with Android 15
  dev/e2e_app/android/app/build.gradle
  dev/e2e_app/android/app/src/main/AndroidManifest.xml
  dev/e2e_app/android/build.gradle
  dev/e2e_app/android/gradle/wrapper/gradle-wrapper.properties
  dev/e2e_app/android/settings.gradle
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/android/build.gradle
  packages/patrol/android/gradle/wrapper/gradle-wrapper.properties
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/android/app/src/main/AndroidManifest.xml
  packages/patrol/example/android/app/src/main/res/values-v27/styles.xml
  packages/patrol/example/android/app/src/main/res/values-v29/styles.xml
  packages/patrol/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/patrol/example/android/settings.gradle
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/example/android/app/build.gradle
  packages/patrol_finders/example/android/build.gradle
  packages/patrol_finders/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/patrol_finders/example/android/settings.gradle
Labels: package: patrol

#2483 Change default analytics to opt out
  docs/documentation/tips-and-tricks.mdx
  docs/tips-and-tricks.mdx
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/README.md
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/analytics/analytics_test.dart
Labels: docs, package: patrol_cli

#2494 Hide java warning on version 21
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
Labels: package: patrol_cli

#2496 Prepare patrol_finders to release
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#2497 Prepare patrol_finders 2.7.0
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/pubspec.yaml
Labels: package: patrol_cli

#2498 Prepare patrol and patrol_cli to releases
  docs/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
Labels: docs, package: patrol, package: patrol_cli

#2501 Fix native tap with instance
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
Labels: package: patrol

#2503 Bump Gradle in example apps so it's possible to build them on the latest JDK
  dev/e2e_app/android/gradle/wrapper/gradle-wrapper.properties
  packages/patrol/CHANGELOG.md
  packages/patrol/android/gradle/wrapper/gradle-wrapper.properties
  packages/patrol/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: package: patrol

#2514 Bump iOS and macOS deployment target
  docs/documentation/index.mdx
  docs/documentation/native/setup.mdx
  docs/getting-started.mdx
  docs/native/setup.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/darwin/patrol.podspec
  packages/patrol/example/ios/Podfile
Labels: docs, package: patrol

#2509 Gracefully handle analytics failing to send (patrol_cli)
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/analytics/analytics.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/analytics/analytics_test.dart
Labels: package: patrol_cli
