Repository leancodepl/patrol, pull requests merged in 2025-02, with the labels that each got.

#2510 Remove build phases ios
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/macos/Podfile.lock
  dev/e2e_app/macos/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/macos/Runner/AppDelegate.swift
  dev/e2e_app/pubspec.lock
  docs/documentation/index.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/example/.gitignore
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/ios/Flutter/AppFrameworkInfo.plist
  packages/patrol/example/ios/Podfile
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/ios/Runner/AppDelegate.swift
  packages/patrol/example/macos/Runner.xcodeproj/project.pbxproj
  packages/patrol/example/pubspec.yaml
Labels: docs, package: patrol

#2521 spelling mistake found
  packages/patrol_cli/lib/src/test_bundler.dart
Labels: package: patrol_cli

#2522 Fix EnterTextRequest schema for ios
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
Labels: package: patrol

#2523 Restore build phases in setup
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  docs/documentation/index.mdx
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
Labels: docs, package: patrol

#2516 Fix running ios tests in example project with dev flavor
  packages/patrol/example/ios/Podfile.lock
  packages/patrol/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  packages/patrol/example/pubspec.yaml
Labels: package: patrol

#2531 Add articles page
  docs.json
  docs/articles/index.mdx
Labels: docs

#2533 [TEST] fix android emulator workflow
  .github/workflows/prepare-e2e_app.yaml
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/patrol/example/pubspec.yaml
  packages/patrol/lib/src/common.dart
Labels: package: patrol

#2543 Prepare patrol to release
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
Labels: package: patrol

#2536 Add `--coverage-package` flag to `patrol_cli`
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/coverage/coverage_tool.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/pubspec.yaml
Labels: package: patrol_cli

#2539 Allow skipping with coverage enabled
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/coverage/coverage_tool.dart
Labels: package: patrol, package: patrol_cli
