Repository leancodepl/patrol, pull requests merged in 2025-06, with the labels that each got.

#2654 Prepare patrol 3.16.0 and patrol_cli 3.7.0 for release
  docs/compatibility-table.mdx
  docs/documentation/compatibility-table.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/base/constants.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_cli/test/compatibility_checker/version_compatibility_test.dart
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_devtools_extension/pubspec.yaml
Labels: docs, package: patrol, package: patrol_cli

#2651 docs: Add comprehensive documentation for Native Automation 2.0 (nati…
  docs.json
  docs/documentation/native/native2.mdx
Labels: docs

#2657 Add contact page
  docs.json
  docs/contact/index.mdx
Labels: docs

#2512 Disable update check if command name is "completion"
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Labels: package: patrol_cli

#2608 Introduce native swipe back mimic
  dev/e2e_app/emulatorwtf.yaml
  dev/e2e_app/integration_test/swipe_back_test.dart
  packages/patrol/CHANGELOG.md
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
Labels: package: patrol
