Repository leancodepl/patrol, pull requests merged in 2025-03, with the labels that each got.

#2551 Add os version to destination in xcodebuild test-without-building
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Labels: package: patrol_cli

#2552 Set os only for iOS simulators
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Labels: package: patrol_cli

#2547 Add mock location
  .github/workflows/prepare-e2e_app.yaml
  .github/workflows/test-android-emulator-webview.yaml
  .github/workflows/test-android-emulator.yaml
  dev/e2e_app/android/app/build.gradle
  dev/e2e_app/android/app/src/main/AndroidManifest.xml
  dev/e2e_app/assets/gpx.gpx
  dev/e2e_app/integration_test/mock_location_test.dart
  dev/e2e_app/ios/Flutter/AppFrameworkInfo.plist
  dev/e2e_app/ios/Podfile
  dev/e2e_app/ios/Podfile.lock
  dev/e2e_app/ios/Runner.xcodeproj/project.pbxproj
  dev/e2e_app/ios/Runner/AppDelegate.swift
  dev/e2e_app/lib/main.dart
  dev/e2e_app/lib/map_screen.dart
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  docs/native/feature-parity.mdx
  packages/patrol/CHANGELOG.md
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/Automator.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/AutomatorServer.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/Contracts.kt
  packages/patrol/android/src/main/kotlin/pl/leancode/patrol/contracts/NativeAutomatorServer.kt
  packages/patrol/darwin/Classes/AutomatorServer/Automator/Automator.swift
  packages/patrol/darwin/Classes/AutomatorServer/Automator/IOSAutomator.swift
  packages/patrol/darwin/Classes/AutomatorServer/AutomatorServer.swift
  packages/patrol/darwin/Classes/AutomatorServer/Contracts.swift
  packages/patrol/darwin/Classes/AutomatorServer/NativeAutomatorServer.swift
  packages/patrol/example/ios/Runner.xcodeproj/project.pbxproj
  packages/patrol/lib/src/native/contracts/contracts.dart
  packages/patrol/lib/src/native/contracts/contracts.g.dart
  packages/patrol/lib/src/native/contracts/native_automator_client.dart
  packages/patrol/lib/src/native/native_automator.dart
  packages/patrol/lib/src/native/native_automator2.dart
  packages/patrol/pubspec.yaml
  schema.dart
Labels: docs, package: patrol

#2574 chore: Bump Flutter version to 3.29.x in workflows
  .cirrus.yml
  .github/workflows/patrol-check-semver.yaml
  .github/workflows/patrol-prepare.yaml
  .github/workflows/patrol-publish.yaml
  .github/workflows/patrol_cli-prepare.yaml
  .github/workflows/patrol_devtools_extension-prepare.yaml
  .github/workflows/patrol_finders-check-semver.yaml
  .github/workflows/patrol_finders-prepare.yaml
  .github/workflows/patrol_finders-publish.yaml
  .github/workflows/patrol_log-check-semver.yaml
  .github/workflows/patrol_log-prepare.yaml
  .github/workflows/patrol_log-publish.yaml
  .github/workflows/prepare-e2e_app.yaml
  .github/workflows/test-android-device.yaml
  .github/workflows/test-ios-device.yaml
  .github/workflows/test-ios-simulator-webview.yaml
  .github/workflows/test-ios-simulator.yaml
  .github/workflows/test-macos.yaml
  dev/cli_tests/pubspec.yaml
  dev/e2e_app/.gitignore
  dev/e2e_app/pubspec.lock
  dev/e2e_app/pubspec.yaml
  packages/adb/CHANGELOG.md
  packages/adb/pubspec.yaml
  packages/patrol/CHANGELOG.md
  packages/patrol/example/.gitignore
  packages/patrol/example/lib/main.dart
  packages/patrol/example/lib/pages/quiz/success_page.dart
  packages/patrol/example/lib/ui/components/button/text_button.dart
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/coverage/device_to_host_port_transformer.dart
  packages/patrol_cli/pubspec.yaml
  packages/patrol_devtools_extension/CHANGELOG.md
  packages/patrol_devtools_extension/lib/api/contracts.dart
  packages/patrol_devtools_extension/lib/api/contracts.g.dart
  packages/patrol_devtools_extension/pubspec.lock
  packages/patrol_devtools_extension/pubspec.yaml
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/example/pubspec.yaml
  packages/patrol_finders/lib/src/custom_finders/patrol_finder.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/pubspec.yaml
  packages/patrol_gen/pubspec.lock
  packages/patrol_gen/pubspec.yaml
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/pubspec.yaml
Labels: package: patrol, package: adb, package: patrol_cli, cirrusci

#2559 Update `http4k`
  packages/patrol/CHANGELOG.md
  packages/patrol/android/build.gradle
Labels: package: patrol

#2570 fix: `$.enterText` method
  dev/e2e_app/.gitignore
  dev/e2e_app/integration_test/autofocus_textfield_test.dart
  dev/e2e_app/integration_test/text_fields_test.dart
  dev/e2e_app/lib/keys.dart
  dev/e2e_app/lib/login_flow_screen.dart
  dev/e2e_app/lib/main.dart
  dev/e2e_app/pubspec.lock
  packages/patrol/CHANGELOG.md
  packages/patrol/example/pubspec.yaml
  packages/patrol/pubspec.yaml
  packages/patrol_finders/CHANGELOG.md
  packages/patrol_finders/example/.gitignore
  packages/patrol_finders/example/lib/main.dart
  packages/patrol_finders/lib/src/custom_finders/custom_finders.dart
  packages/patrol_finders/lib/src/custom_finders/patrol_tester.dart
  packages/patrol_finders/lib/src/custom_finders/widget_tester.dart
  packages/patrol_finders/pubspec.yaml
Labels: package: patrol

#2577 Add ability to quit the `patrol develop` process by pressing q on the keyboard
  dev/cli_tests/patrol_develop_test.dart
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/crossplatform/flutter_tool.dart
Labels: package: patrol_cli
