Repository leancodepl/patrol, pull requests merged in 2025-04, with the labels that each got.

#2581 Display a friendly device name
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/devices.dart
Labels: package: patrol_cli

#2578 Update Android setup instruction to use kotlin DSL syntax
  dev/e2e_app/android/.gitignore
  dev/e2e_app/android/app/build.gradle
  dev/e2e_app/android/app/build.gradle.kts
  dev/e2e_app/android/build.gradle
  dev/e2e_app/android/build.gradle.kts
  dev/e2e_app/android/settings.gradle
  dev/e2e_app/android/settings.gradle.kts
  docs/documentation/index.mdx
  docs/documentation/native/setup.mdx
  docs/getting-started.mdx
  docs/native/setup.mdx
  packages/patrol/example/android/app/build.gradle
  packages/patrol/example/android/app/build.gradle.kts
  packages/patrol/example/android/build.gradle
  packages/patrol/example/android/build.gradle.kts
  packages/patrol/example/android/settings.gradle
  packages/patrol/example/android/settings.gradle.kts
Labels: docs, package: patrol

#2579 Securing detection of incompatible versions between patrol_cli and patrol, create generation method for compatibility-table.mdx
  .github/workflows/verify_compatibility.yml
  docs/compatibility-table.mdx
  docs/documentation/compatibility-table.mdx
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/lib/src/compatibility_checker/generate_compatibility_table.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_comparator.dart
  packages/patrol_cli/lib/src/compatibility_checker/version_compatibility.dart
  packages/patrol_cli/lib/src/pubspec_reader.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
  packages/patrol_cli/test/commands/patrol_command_runner_test.dart
  packages/patrol_cli/test/compatibility_checker/version_compatibility_test.dart
  packages/patrol_cli/test/pubspec_reader_test.dart
Labels: docs, package: patrol_cli

#2571 Docs for iOS codesigning
  docs.json
  docs/assets/ios_runneruitests_disable_automatic_signing.png
  docs/documentation/index.mdx
  docs/documentation/physical-ios-devices-setup.mdx
Labels: docs

#2596 [patrol_cli]: Add instructions to deactivate, install specific version to --help message
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Labels: package: patrol_cli

#2597 [patrol_cli]: Add throwToolExit to build commands when packages are incompatible
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build.dart
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/compatibility_checker/compatibility_checker.dart
  packages/patrol_cli/lib/src/runner/patrol_command_runner.dart
Labels: package: patrol_cli

#2600 Add feature guide tab and bluetooth page
  docs.json
  docs/feature-guide/bluetooth.mdx
  docs/feature-guide/index.mdx
  docs/feature-guide/introduction.mdx
Labels: docs

#2569 Read log using idevicesyslog in iOS release
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/ios/ios_test_backend.dart
  packages/patrol_log/CHANGELOG.md
  packages/patrol_log/lib/src/patrol_log_reader.dart
Labels: package: patrol, package: patrol_cli

#2613 fix: Fix gathering exceptions in patrol develop
  packages/patrol/lib/src/binding.dart
Labels: package: patrol, package: patrol_cli, cirrusci
