Repository leancodepl/patrol, pull requests merged in 2025-07, with the labels that each got.

#2664 Add Patrol tags documentation
  docs.json
  docs/cli-commands/test.mdx
  docs/documentation/patrol-tags.mdx
Labels: docs

#2668 update checkbox text for idx project
  docs/overview/getting-started.mdx
Labels: docs

#2666 start working on pull-to-refresh and camera permission docs
  docs.json
  docs/assets/pull_to_refresh.gif
  docs/feature-guide/granting-camera-permission.mdx
  docs/feature-guide/pull-to-refresh.mdx
Labels: docs

#2674 Fix patrol tags page; add warning about not number tags
  docs/documentation/patrol-tags.mdx
Labels: docs

#2671 Feat/remove not working wait parameter
  docs/cli-commands/test.mdx
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/lib/src/commands/build_macos.dart
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
  packages/patrol_cli/lib/src/runner/patrol_command.dart
Labels: docs, package: patrol_cli

#2689 Update feature-parity.mdx
  docs/documentation/native/feature-parity.mdx
Labels: docs

#2691 Remove PATROL_WAIT from internal Dart defines in develop and test com…
  packages/patrol_cli/lib/src/commands/develop.dart
  packages/patrol_cli/lib/src/commands/test.dart
Labels: package: patrol_cli

#2692 fix: Remove FLUTTER_APP_FLAVOR from dart defines
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/crossplatform/app_options.dart
  packages/patrol_cli/test/crossplatform/app_options_test.dart
Labels: package: patrol_cli

#2677 Feat/ensure gradle wrapper is generated
  .cirrus.yml
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/android/android_test_backend.dart
Labels: package: patrol_cli, cirrusci

#2699 add new Patrol resources to docs
  docs/articles/index.mdx
Labels: docs

#2685 Fix/print android path
  packages/patrol_cli/CHANGELOG.md
  packages/patrol_cli/lib/src/commands/build_android.dart
  packages/patrol_cli/lib/src/commands/build_ios.dart
  packages/patrol_cli/test/commands/patrol_build_android_print_paths_test.dart
  packages/patrol_cli/test/commands/patrol_build_ios_print_path_test.dart
  packages/patrol_cli/test/src/mocks.dart
Labels: package: patrol_cli
